In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from dateutil.parser import parse
from itertools import compress
from collections import OrderedDict
from datetime import date
import datetime
import re
from datetime import timedelta
import openpyxl
from sklearn.metrics import mean_squared_error
import plotly.express as px

import os
import re

In [2]:
df_PI_zndrop_proj = pd.read_excel(r'C:\Users\v.t.flores\Documents\ZnDrop_Project_Pi_DeZn_values.xlsx')

In [3]:
df_PI_zndrop_proj.head()

,DATETIME,DeZn_Feed_Flow,DeZn_Feed_T,H2S_FT_TK01_A,H2S_FT_TK01_B,H2S_FT_TK02_A,H2S_FT_TK02_B,DeZn_Seed_Flow,DeZn_TK05_T
0,NaT,\\THPAL-PI\104FI006A@PV,\\THPAL-PI\104TIC021@PV,\\THPAL-PI\105FIC002A@PV,\\THPAL-PI\105FIC002B@PV,\\THPAL-PI\105FIC003A@PV,\\THPAL-PI\105FIC003B@PV,\\THPAL-PI\105FT047@PV,\\THPAL-PI\105TIC001@PV
1,2017-01-01 00:00:00,1160,56.1893,28.2592,7.6035,65.2768,0,1.70006,67.2727
2,2017-01-01 01:00:00,1205.73,56.1107,28.1092,7.40175,65.2027,0,3.04233,67.3613
3,2017-01-01 02:00:00,1275.56,56.1082,28.6807,7.41975,66.8242,0,5.53797,67.2127
4,2017-01-01 03:00:00,1301.96,56.2543,29.1127,7.4085,68.1018,0,6.09117,66.9313

In [5]:
df_PI_zndrop_proj_1 = df_PI_zndrop_proj.drop(df_PI_zndrop_proj.index[0], axis=0)

In [7]:
df_PI_zndrop_proj_2 = df_PI_zndrop_proj_1.set_index('DATETIME')

In [11]:
#Convert each column to numeric to handle nan values and other comments like 'No data...'. Convering to numeric
#------ converts them into a NaN value that pandas understands.
for i in df_PI_zndrop_proj_2.columns:
    df_PI_zndrop_proj_2[i] = pd.to_numeric(df_PI_zndrop_proj_2[i], errors='coerce')

In [13]:
#Creating a column for the correct H2S flowrate
df_PI_zndrop_proj_2['H2S_tk01'] = np.where(df_PI_zndrop_proj_2['H2S_FT_TK01_A']>df_PI_zndrop_proj_2['H2S_FT_TK01_B'],\
                                    df_PI_zndrop_proj_2['H2S_FT_TK01_A'], df_PI_zndrop_proj_2['H2S_FT_TK01_B'])

df_PI_zndrop_proj_2['H2S_tk02'] = np.where(df_PI_zndrop_proj_2['H2S_FT_TK02_A']>df_PI_zndrop_proj_2['H2S_FT_TK02_B'],\
                                    df_PI_zndrop_proj_2['H2S_FT_TK02_A'], df_PI_zndrop_proj_2['H2S_FT_TK02_B'])