In [1]:
#exc1
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from dateutil.parser import parse
from itertools import compress
from collections import OrderedDict
from datetime import date
import datetime
from datetime import timedelta
import re

In [87]:
#Sheet From Pi
#Step1: Load the Data for the month
df_totalizer = pd.read_excel(r'C:\Users\v.t.flores\Documents\Book4.xlsx', sheet_name='Sheet1', index_col=False)

#Drop the row[1]
df_totalizer = df_totalizer.drop(df_totalizer.index[0])

#Step2: Parse the DATETIME column
df_totalizer['DATETIME'] = df_totalizer['DATETIME'].apply(lambda x: parse(str(x)))

df_totalizer.set_index('DATETIME', inplace=True)

df_totalizer = df_totalizer[df_totalizer['106WQ001@PV'] != '[-11057] Not Enough Values For Calculation']
df_totalizer = df_totalizer[df_totalizer['106WI001@PV'] != '[-11057] Not Enough Values For Calculation']

In [88]:
df_comb.columns

Index(['106WQ001@PV', '106WI001@PV'], dtype='object')

In [100]:
df_comb

                     106WQ001@PV 106WI001@PV
DATETIME
2020-01-01 00:01:00  1.88025e+06       135.3
2020-01-01 00:02:00  1.88025e+06       135.3
2020-01-01 00:03:00  1.88025e+06       135.3
2020-01-01 00:04:00  1.88025e+06      135.52
2020-01-01 00:05:00  1.88025e+06      135.52
...                          ...         ...
2020-01-27 18:05:00  2.24463e+06       -7.92
2020-01-27 18:06:00  2.24463e+06       -7.92
2020-01-27 18:07:00  2.24463e+06       -7.92
2020-01-27 18:08:00  2.24463e+06       -7.92
2020-01-27 18:09:00  2.24463e+06       -8.14

[38529 rows x 2 columns]

In [133]:
#fcn for formatting the dates from range str
def datesplitter_start(x):
    return parse(x.split('to')[0])
def datesplitter_end(x):
    return parse(x.split('to')[1])
#---------
df_comb['newdt'] = df_comb.index
df_comb['startdate'] = df_comb['newdt'].apply(lambda x: datesplitter_start(str(x)))
df_comb['enddate'] = df_comb['newdt'].apply(lambda x: datesplitter_end(str(x)))

IndexError: list index out of range

In [134]:
#fcn for formatting the dates from range str
def datesplitter_start(x):
    return parse(x.split('to')[0])
def datesplitter_end(x):
    return parse(x.split('to')[1])

In [135]:
df_comb['newdt'] = df_comb.index

In [136]:
df_comb['newdt']

DATETIME
2020-01-01 00:01:00   2020-01-01 00:01:00
2020-01-01 00:02:00   2020-01-01 00:02:00
2020-01-01 00:03:00   2020-01-01 00:03:00
2020-01-01 00:04:00   2020-01-01 00:04:00
2020-01-01 00:05:00   2020-01-01 00:05:00
                              ...
2020-01-27 18:05:00   2020-01-27 18:05:00
2020-01-27 18:06:00   2020-01-27 18:06:00
2020-01-27 18:07:00   2020-01-27 18:07:00
2020-01-27 18:08:00   2020-01-27 18:08:00
2020-01-27 18:09:00   2020-01-27 18:09:00
Name: newdt, Length: 38529, dtype: datetime64[ns]

In [37]:
len(df_comb['106WQ001@PV'])

38410

In [ ]:
for i in range(0, 38410):
    d = (np.diff(np.sign(np.diff(df_comb['106WQ001@PV'].iloc[0]:ft_cyc_lim[keyslist[i]]])))< 0).nonzero()[0] + 1

In [126]:
d = (np.diff(np.sign(np.diff(df_comb['106WQ001@PV'].iloc[0:len(df_comb['106WQ001@PV'])])))< 0).nonzero()[0]+1

In [107]:
d[:50]

array([  21,   54,   57,   59,   95,  142,  147,  181,  211,  215,  264,
        286,  290,  496,  500,  542,  613,  616,  841,  884,  947,  950,
        993, 1037, 1040, 1079, 1116, 1119, 1157, 1193, 1197, 1233, 1272,
       1274, 1582, 1830, 1833, 1854, 1950, 1953, 2651, 2697, 2700, 2769,
       2889, 2932, 3029, 3033, 3079, 3121], dtype=int64)

In [111]:
df_comb['106WQ001@PV'][15:30]

DATETIME
2020-01-01 00:16:00    1.88025e+06
2020-01-01 00:17:00    1.88025e+06
2020-01-01 00:18:00    1.88025e+06
2020-01-01 00:19:00    1.88025e+06
2020-01-01 00:20:00    1.88025e+06
2020-01-01 00:21:00    1.88025e+06
2020-01-01 00:22:00    1.88221e+06
2020-01-01 00:23:00    1.88221e+06
2020-01-01 00:24:00    1.88221e+06
2020-01-01 00:25:00    1.88221e+06
2020-01-01 00:26:00    1.88221e+06
2020-01-01 00:27:00    1.88221e+06
2020-01-01 00:28:00    1.88221e+06
2020-01-01 00:29:00    1.88221e+06
2020-01-01 00:30:00    1.88221e+06
Name: 106WQ001@PV, dtype: object

In [115]:
for i in range(0, 10):
    print(df_comb['106WQ001@PV'][d[i+1]])

1884177.5
1886167
1886167
1988.800048828125
3953.39990234375
3953.39990234375
7896.4599609375
7896.4599609375
9868.759765625
13782.119140625

In [117]:
for i in range(0, 10):
    print(df_comb['106WQ001@PV'][d[i]]-df_comb['106WQ001@PV'][d[i]-1])

1966.75
1964.625
1989.5
0
0.0
0.0
0.0
0.0
0.0
0.0

In [128]:
d[5]-1

127

In [113]:
df_comb.index[21]

Timestamp('2020-01-01 00:22:00')

In [138]:
#this code here uses the wrong value in setting the index number
#for i in range(0, 50):
    #print(df_comb['106WQ001@PV'][d[i+1]]-df_comb['106WQ001@PV'][d[i]], " : ",df_comb.index[d[i+1]])

In [144]:
#this code is better for setting the right index number
#determine the weight per batch complete

for i in range(0, 50):
    print(df_comb['106WQ001@PV'][d[i]]-df_comb['106WQ001@PV'][d[i]-1], " : ",df_comb.index[d[i]])

1966.75  :  2020-01-01 00:22:00
1964.625  :  2020-01-01 00:55:00
1989.5  :  2020-01-01 00:58:00
0  :  2020-01-01 01:00:00
1988.800048828125  :  2020-01-01 01:34:00
1964.599853515625  :  2020-01-01 02:09:00
1984.6201171875  :  2020-01-01 02:56:00
1958.43994140625  :  2020-01-01 03:01:00
1972.2998046875  :  2020-01-01 03:35:00
1954.259765625  :  2020-01-01 04:05:00
1959.099609375  :  2020-01-01 04:09:00
1959.099609375  :  2020-01-01 04:58:00
1960.640625  :  2020-01-01 05:20:00
1990.560546875  :  2020-01-01 05:24:00
1958.439453125  :  2020-01-01 08:50:00
1985.5  :  2020-01-01 08:54:00
1976.48046875  :  2020-01-01 09:36:00
1964.8203125  :  2020-01-01 10:47:00
1973.83984375  :  2020-01-01 10:50:00
1987.48046875  :  2020-01-01 14:35:00
1969.0  :  2020-01-01 15:18:00
1968.78125  :  2020-01-01 16:21:00
1979.78125  :  2020-01-01 16:24:00
1964.8203125  :  2020-01-01 17:07:00
1958.0  :  2020-01-01 17:51:00
1958.66015625  :  2020-01-01 17:54:00
1978.01953125  :  2020-01-01 18:33:00
1956.23828125  :  2020-01-01 19:10:00
1954.48046875  :  2020-01-01 19:13:00
1956.4609375  :  2020-01-01 19:51:00
1958.66015625  :  2020-01-01 20:27:00
1961.30078125  :  2020-01-01 20:31:00
1971.640625  :  2020-01-01 21:07:00
1975.6015625  :  2020-01-01 21:46:00
1973.83984375  :  2020-01-01 21:48:00
1960.640625  :  2020-01-02 02:56:00
1965.26171875  :  2020-01-02 07:04:00
1960.63671875  :  2020-01-02 07:07:00
1967.0234375  :  2020-01-02 07:28:00
1975.6015625  :  2020-01-02 09:04:00
1972.296875  :  2020-01-02 09:07:00
1956.2421875  :  2020-01-02 20:45:00
1965.921875  :  2020-01-02 21:31:00
1956.0234375  :  2020-01-02 21:34:00
1978.0234375  :  2020-01-02 22:43:00
1996.28125  :  2020-01-03 00:43:00
1955.796875  :  2020-01-03 01:26:00
1967.6796875  :  2020-01-03 03:03:00
1983.296875  :  2020-01-03 03:07:00
1954.4765625  :  2020-01-03 03:53:00

In [145]:
#creating the df for total wt

lst_batch_comp_wt = []
lst_wt_index = []
for i in range(0, len(d)):
    temp_batch_wt = df_comb['106WQ001@PV'][d[i]]-df_comb['106WQ001@PV'][d[i]-1]
    temp_wt_index = df_comb.index[d[i]]
    if temp_batch_wt > 0:
        lst_batch_comp_wt.append(temp_batch_wt)
        lst_wt_index.append(temp_wt_index)
lst_index_batch_comp_wt = list(zip(lst_wt_index,lst_batch_comp_wt))
df_batch_comp_wt_index_time = pd.DataFrame(lst_index_batch_comp_wt)

df_batch_comp_wt_index_time.columns = ['DATETIME', 'weight_per_b']

In [143]:
df_batch_comp_wt_index_time

                DATETIME  weight_per_b
0    2020-01-01 00:22:00   1966.750000
1    2020-01-01 00:55:00   1964.625000
2    2020-01-01 00:58:00   1989.500000
3    2020-01-01 01:34:00   1988.800049
4    2020-01-01 02:09:00   1964.599854
...                  ...           ...
1136 2020-01-27 07:51:00   1972.250000
1137 2020-01-27 08:22:00   1971.500000
1138 2020-01-27 08:40:00   1957.750000
1139 2020-01-27 09:05:00   1960.500000
1140 2020-01-27 09:07:00   1967.750000

[1141 rows x 2 columns]

In [ ]:
try:
    for i in range(0, len(df_B_merged_lab_res)):
        for j in range(0, len(dfn11B)):
            if dfn11B['enddate'][j-1] <= df_batch_comp_wt_index_time.index[i] and dfn11B['enddate'][j] >= df_batch_comp_wt_index_time.index[i]:
                df_n11B_indexList.append(dfn11B.index[j])
                df_anlB_indexList.append(df_B_merged_lab_res.index[i]) 
except IndexError:
    print('IndexError')  
Analys_indexList_Pair = list(zip(df_anlB_indexList, df_n11B_indexList[0:]))
dfEL4B = pd.DataFrame(Analys_indexList_Pair)
dfEL4B.columns = ['DATETIME', 'FT_cycletimerange']
dfEL4B.set_index('DATETIME', inplace=True)

In [ ]:

for index_bs[i] > index_df[j]:
    tdelta = index_bs[i]-index_df[j]
    if tdelta < index_df[j]-index_bc[i]:
        tdelta = index_df[i]-index_bc[i]