In [21]:
#exc1
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from dateutil.parser import parse
from itertools import compress
from collections import OrderedDict
from datetime import date
import datetime

In [22]:
#exc2
#Sheet nov2019_Mg_PS

#Step1: Load the Data for the month
df_nov2019_Mg_PS =  pd.read_excel(r'C:\Users\v.t.flores\Documents\Analysis_November2019_MSdataCLEAN.xlsx', sheet_name='NOV19Datetime_Mg_PS', index_col=False)

#Step2: Parse the DATETIME column
df_nov2019_Mg_PS['DATETIME'] = df_nov2019_Mg_PS['DATETIME'].apply(lambda x: parse(str(x)))

#Step3: Set the DATETIME column as the index
df_nov2019_Mg_PS.set_index('DATETIME', inplace=True)

#exc3
#Sheet 106FT02A_spcl

#Step1: Load the Data for the month
df_106FT02A_spcl =  pd.read_excel(r'C:\Users\v.t.flores\Documents\Analysis_November2019_MSdataCLEAN.xlsx', sheet_name='106FT02A_spcl', index_col=False)

#Step2: Parse the DATETIME column
df_106FT02A_spcl['DATETIME'] = df_106FT02A_spcl['DATETIME'].apply(lambda x: parse(x))

#Step3: Set the DATETIME column as the index
df_106FT02A_spcl.set_index('DATETIME', inplace=True)

#exc4
#Sheet 106FT02B_spcl

#Step1: Load the Data for the month
df_106FT02B_spcl = pd.read_excel(r'C:\Users\v.t.flores\Documents\Analysis_November2019_MSdataCLEAN.xlsx', sheet_name='106FT02B_spcl', index_col=False)

#Step2: Parse the DATETIME column
df_106FT02B_spcl['DATETIME'] = df_106FT02B_spcl['DATETIME'].apply(lambda x: parse(x))

#Step3: Set the DATETIME column as the index
df_106FT02B_spcl.set_index('DATETIME', inplace=True)

#exc5
#Sheet From Pi
#Step1: Load the Data for the month
df_nov2019Pi = pd.read_excel(r'C:\Users\v.t.flores\Documents\Analysis_November2019_MSdataCLEAN.xlsx', sheet_name='From Pi', index_col=False)

#Drop the row[1]
df_nov2019Pi = df_nov2019Pi.drop(df_nov2019Pi.index[0])

#Step2: Parse the DATETIME column
df_nov2019Pi['DATETIME'] = df_nov2019Pi['DATETIME'].apply(lambda x: parse(str(x)))

df_nov2019Pi.set_index('DATETIME', inplace=True)

#exc6
#This code merges the formatted data from the three sheets to on single dataframe named df_comb

df_com_Pi_FT02A = df_nov2019Pi.join(df_106FT02A_spcl, how='outer')
df_com_Mg_FT02B = df_nov2019_Mg_PS.join(df_106FT02B_spcl, how='outer')
df_comb = df_com_Pi_FT02A.join(df_com_Mg_FT02B, how='outer')


#exc7
#finding peaks FT for A_filtration time

df_comb['A_t_FEED'] = pd.to_numeric(df_comb['A_t_FEED'], errors='coerce')
a = np.diff(np.sign(np.diff(df_comb['A_t_FEED']))).nonzero()[0] + 1               # local min & max
b = (np.diff(np.sign(np.diff(df_comb['A_t_FEED']))) > 0).nonzero()[0] + 1         # local min
c = (np.diff(np.sign(np.diff(df_comb['A_t_FEED']))) < 0).nonzero()[0] + 1         # local max
# +1 due to the fact that diff reduces the original index number


#finding peaks FT for A_N2 Dry time

df_comb['A_t_DRY'] = pd.to_numeric(df_comb['A_t_DRY'], errors='coerce')
d = np.diff(np.sign(np.diff(df_comb['A_t_DRY']))).nonzero()[0] + 1               # local min & max
e = (np.diff(np.sign(np.diff(df_comb['A_t_DRY']))) > 0).nonzero()[0] + 1         # local min
f = (np.diff(np.sign(np.diff(df_comb['A_t_DRY']))) < 0).nonzero()[0] + 1         # local max
# +1 due to the fact that diff reduces the original index number

#Use b as the starting index and f as the ending index for one full cylcle of Filtration to N2 Drying

#-----------------------------------------------------------------------------------------------------------------------

#This code here collects the index range for the each cycle
try:
    ft_cyc_lim = {}

    for i in range(0, len(b)):
        for j in range(0, len(f)):
            if f[j] > b[i] and f[j] < b[i+1]:
                if f[j+1]<b[i+1]:
                    cyc_start = b[i]
                    cyc_end = f[j+1]
                    ft_cyc_lim.setdefault(cyc_start,cyc_end)

except IndexError:
    print('\nDone')
#------------------------------------------------------------     

print('Done', str(datetime.datetime.now()))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:62: RuntimeWarning: invalid value encountered in sign
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:63: RuntimeWarning: invalid value encountered in sign
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:63: RuntimeWarning: invalid value encountered in greater
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:64: RuntimeWarning: invalid value encountered in sign
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:64: RuntimeWarning: invalid value encountered in less
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:71: RuntimeWarning: invalid value encountered in sign
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:72: RuntimeWarning: invalid value encountered in sign
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:72: RuntimeWarning: invalid value encountered in greater
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: RuntimeWarning: invalid value encountered in sign
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: RuntimeWarning: invalid value encountered in less

Done
Done 2020-01-16 17:06:01.026741

In [23]:
#code for getting the CWP for CakeWash1 and CakeWash2
##Working as of 1/15/2020
A_CWP_1new = list()
A_CWP_1new[:] = []

A_CWP_1_indexList = list()
A_CWP_1_indexList[:] = []

A_CWP_2new = list()
A_CWP_2new[:] = []

A_CWP_2_indexList = list()
A_CWP_2_indexList[:] = []

A_CWP_1_inner = list()
A_CWP_1_inner[:] = []

A_CWP_2_inner = list()
A_CWP_2_inner[:] = []

A_Pair_CWP_1_List = list()
A_Pair_CWP_2_List = list()

try:
    for i in range(0, len(keyslist)):
        A_CWPList_i = list()
        A_CWPList_i[:] = []
        d = list()
        d[:] = []
        
        A_CWPList_i = list(np.arange(keyslist[i],ft_cyc_lim[keyslist[i]]))
        d = (np.diff(np.sign(np.diff(df_comb['106FT02A_CWP'].iloc[keyslist[i]:ft_cyc_lim[keyslist[i]]])))< 0).nonzero()[0] + 1
        A_CWP_for_sort = list()
        A_CWP_for_sort[:] = [] 
        
        A_CWP_1_indexList.append((str(df_comb.index[keyslist[i]])+" to "+str(df_comb.index[ft_cyc_lim[keyslist[i]]])))
        A_CWP_2_indexList.append((str(df_comb.index[keyslist[i]])+" to "+str(df_comb.index[ft_cyc_lim[keyslist[i]]])))
        
        for i in range(0, len(d)):
            CWP_val_shortlist = df_comb['106FT02A_CWP'].iloc[A_CWPList_i[d[i]]]
            A_CWP_for_sort.append(CWP_val_shortlist)
                    
        A_CWP_1 = sorted(A_CWP_for_sort)[len(A_CWP_for_sort)-1]
        A_CWP_1_inner.append(A_CWP_1)
        
        A_CWP_2 = sorted(A_CWP_for_sort)[len(A_CWP_for_sort)-2]
        A_CWP_2_inner.append(A_CWP_2)

    A_Pair_CWP_1_List = list(zip(A_CWP_1_inner, A_CWP_1_indexList[0:]))
    A_Pair_CWP_2_List = list(zip(A_CWP_2_inner, A_CWP_2_indexList[0:]))
            
    
except IndexError:
    print('IndexError')

df_A_Pair_CWP_1 = pd.DataFrame(A_Pair_CWP_1_List)
df_A_Pair_CWP_1.columns = ['A_CWP_1', 'DATETIME']
df_A_Pair_CWP_1.set_index('DATETIME', inplace=True)
    
df_A_Pair_CWP_2 = pd.DataFrame(A_Pair_CWP_2_List)
df_A_Pair_CWP_2.columns = ['A_CWP_2', 'DATETIME']
df_A_Pair_CWP_2.set_index('DATETIME', inplace=True)
    
    
print('Done', str(datetime.datetime.now()))

Done 2020-01-16 17:06:36.631162

In [24]:
# This code will use the index range (or limits) to create a list of values: feedtime range, cake wash time range,
# then selects the max value as the parameter value for that range

#FILTRATION TIME
keyslist = list(ft_cyc_lim.keys()) #creates a list of the ft_cyc_lim keys so that we can iterate later
#For loop Dictionary names 
A_Filt_MaxList= list()
A_Filt_MaxList[:] = []
A_feedt_Val_List = list()
A_feedt_Val_List[:] = []
A_feedt_index_List = list()
A_feedt_index_List[:] = []
A_Pair_Filt_List = list()
A_Pair_Filt_List[:] = []
try:         
    for i in range(0, len(keyslist)):
        A_feedt_Val_List = list()
        A_feedt_Val_List[:] = []
        for j in range(keyslist[i], ft_cyc_lim[keyslist[i]]):
            A_feedt = df_comb['A_t_FEED'][j]
            A_feedt_Val_List.append(A_feedt)
        A_Filt_MaxList.append(sorted(A_feedt_Val_List)[-1])
        A_feedt_index_List.append((str(df_comb.index[keyslist[i]])+" to "+str(df_comb.index[ft_cyc_lim[keyslist[i]]])))  
    A_Pair_Filt_List = list(zip(A_Filt_MaxList, A_feedt_index_List[0:]))      
except:
    pass

df_A_Pair_Filt_t = pd.DataFrame(A_Pair_Filt_List)
df_A_Pair_Filt_t.columns = ['A_FILT_T', 'DATETIME']
df_A_Pair_Filt_t.set_index('DATETIME', inplace=True)

print('Done', str(datetime.datetime.now()))

Done 2020-01-16 17:06:39.764742

In [25]:
#MANIFOLD PRESSURE
keyslist = list(ft_cyc_lim.keys()) #creates a list of the ft_cyc_lim keys so that we can iterate later
#For loop Dictionary names 
A_MANFP_MaxList = list()
A_MANFP_MaxList[:] = []
A_Pair_MANFP_List =list() 
A_Pair_MANFP_List[:] = []
A_MANFP_index_List=list()      
A_MANFP_index_List[:] = []
try:         
    for i in range(0, len(keyslist)):
        A_MANFP_val_List=list() 
        A_MANFP_val_List[:] = []
        for j in range(keyslist[i], ft_cyc_lim[keyslist[i]]):               
            #Gets A manifold pressure of the cycle
            A_MANFP = df_comb['106FT02A_MANFP'][j]         
            A_MANFP_val_List.append(A_MANFP)
        A_MANFP_MaxList.append(sorted(A_MANFP_val_List)[-1])
        A_MANFP_index_List.append((str(df_comb.index[keyslist[i]])+" to "+str(df_comb.index[ft_cyc_lim[keyslist[i]]])))
    A_Pair_MANFP_List = list(zip(A_MANFP_MaxList, A_MANFP_index_List[0:]))      
                        
except:
    pass

df_A_Pair_MANF_P = pd.DataFrame(A_Pair_MANFP_List)
df_A_Pair_MANF_P.columns = ['A_MANF_P', 'DATETIME']
df_A_Pair_MANF_P.set_index('DATETIME', inplace=True)

print('Done', str(datetime.datetime.now()))

Done 2020-01-16 17:06:42.817765

In [26]:
#CWSH1
##wORKING as of 2020.01.15

keyslist = list(ft_cyc_lim.keys()) #creates a list of the ft_cyc_lim keys so that we can iterate later

A_t_CWSH1_Maxlist = list()
A_t_CWSH1_Maxlist[:] = []

A_CWSH1_index_List=list()      
A_CWSH1_index_List[:] = []

A_Pair_CWSH1_List =list() 
A_Pair_CWSH1_List[:] = []
try:         
    for i in range(0, len(keyslist)):
        A_t_CWSH1_val_List=list() 
        A_t_CWSH1_val_List[:] = []
        for j in range(keyslist[i], ft_cyc_lim[keyslist[i]]):               
            A_t_CWSH1 = df_comb['A_t_CWSH1'][j]         
            A_t_CWSH1_val_List.append(A_t_CWSH1)
        A_t_CWSH1_Maxlist.append(sorted(A_t_CWSH1_val_List)[-1])
        A_CWSH1_index_List.append((str(df_comb.index[keyslist[i]])+" to "+str(df_comb.index[ft_cyc_lim[keyslist[i]]])))
    A_Pair_CWSH1_List = list(zip(A_t_CWSH1_Maxlist, A_CWSH1_index_List[0:]))      
                        
except:
    pass
df_A_Pair_CWSH1 = pd.DataFrame(A_Pair_CWSH1_List)
df_A_Pair_CWSH1.columns = ['A_CWSH1', 'DATETIME']
df_A_Pair_CWSH1.set_index('DATETIME', inplace=True)

print('Done', str(datetime.datetime.now()))

Done 2020-01-16 17:06:44.683657

In [27]:
#CWSH2
##wORKING as of 2020.01.15
keyslist = list(ft_cyc_lim.keys()) #creates a list of the ft_cyc_lim keys so that we can iterate later

A_t_CWSH2_Maxlist = list()
A_t_CWSH2_Maxlist[:] = []

A_CWSH2_index_List=list()      
A_CWSH2_index_List[:] = []

A_Pair_CWSH2_List =list() 
A_Pair_CWSH2_List[:] = []
try:         
    for i in range(0, len(keyslist)):
        A_t_CWSH2_val_List=list() 
        A_t_CWSH2_val_List[:] = []
        for j in range(keyslist[i], ft_cyc_lim[keyslist[i]]):               
            A_t_CWSH2 = df_comb['A_t_CWSH2'][j]         
            A_t_CWSH2_val_List.append(A_t_CWSH2)
        A_t_CWSH2_Maxlist.append(sorted(A_t_CWSH2_val_List)[-1])
        A_CWSH2_index_List.append((str(df_comb.index[keyslist[i]])+" to "+str(df_comb.index[ft_cyc_lim[keyslist[i]]])))
    A_Pair_CWSH2_List = list(zip(A_t_CWSH2_Maxlist, A_CWSH2_index_List[0:]))      
                        
except:
    pass
  
df_A_Pair_CWSH2 = pd.DataFrame(A_Pair_CWSH2_List)
df_A_Pair_CWSH2.columns = ['A_CWSH2', 'DATETIME']
df_A_Pair_CWSH2.set_index('DATETIME', inplace=True)
print('Done', str(datetime.datetime.now()))

Done 2020-01-16 17:06:47.252318

In [28]:
#Pressing_1
##wORKING as of 2020.01.15
keyslist = list(ft_cyc_lim.keys()) #creates a list of the ft_cyc_lim keys so that we can iterate later

A_t_Press1_Maxlist = list()
A_t_Press1_Maxlist[:] = []

A_t_Press1_index_List=list()      
A_t_Press1_index_List[:] = []

A_Pair_A_t_Press1_List =list() 
A_Pair_A_t_Press1_List[:] = []
try:         
    for i in range(0, len(keyslist)):
        A_t_Press1_val_List=list() 
        A_t_Press1_val_List[:] = []
        for j in range(keyslist[i], ft_cyc_lim[keyslist[i]]):               
            A_t_Press1 = df_comb['A_t_PRESS1'][j]         
            A_t_Press1_val_List.append(A_t_Press1)
        A_t_Press1_Maxlist.append(sorted(A_t_Press1_val_List)[-1])
        A_t_Press1_index_List.append((str(df_comb.index[keyslist[i]])+" to "+str(df_comb.index[ft_cyc_lim[keyslist[i]]])))
    A_Pair_Press1_List = list(zip(A_t_Press1_Maxlist, A_t_Press1_index_List[0:]))      
                        
except:
    pass
df_A_Pair_PRESS1_t = pd.DataFrame(A_Pair_Press1_List)
df_A_Pair_PRESS1_t.columns = ['A_PRESS1_t', 'DATETIME']
df_A_Pair_PRESS1_t.set_index('DATETIME', inplace=True)
print('Done', str(datetime.datetime.now()))

Done 2020-01-16 17:06:49.001232

In [29]:
#Pressing_2
##wORKING as of 2020.01.15
keyslist = list(ft_cyc_lim.keys()) #creates a list of the ft_cyc_lim keys so that we can iterate later

A_t_Press2_Maxlist = list()
A_t_Press2_Maxlist[:] = []

A_t_Press2_index_List=list()      
A_t_Press2_index_List[:] = []

A_Pair_Press2_List =list() 
A_Pair_Press2_List[:] = []
try:         
    for i in range(0, len(keyslist)):
        A_t_Press2_val_List=list() 
        A_t_Press2_val_List[:] = []
        for j in range(keyslist[i], ft_cyc_lim[keyslist[i]]):               
            A_t_Press2 = df_comb['A_t_PRESS2'][j]         
            A_t_Press2_val_List.append(A_t_Press2)
        A_t_Press2_Maxlist.append(sorted(A_t_Press2_val_List)[-1])
        A_t_Press2_index_List.append((str(df_comb.index[keyslist[i]])+" to "+str(df_comb.index[ft_cyc_lim[keyslist[i]]])))
    A_Pair_Press2_List = list(zip(A_t_Press2_Maxlist, A_t_Press2_index_List[0:]))      
                        
except:
    pass
  
df_A_Pair_PRESS2_t = pd.DataFrame(A_Pair_Press2_List)
df_A_Pair_PRESS2_t.columns = ['A_PRESS2_t', 'DATETIME']
df_A_Pair_PRESS2_t.set_index('DATETIME', inplace=True)
print('Done', str(datetime.datetime.now()))

Done 2020-01-16 17:06:50.752755

In [30]:
#A_PU26A_OP
##Working as of 2020.01.15
A_PU26A_OP_Maxlist = list()
A_PU26A_OP_Maxlist[:] = []

A_PU26A_OP_index_List=list()      
A_PU26A_OP_index_List[:] = []

A_Pair_PU26A_OP_List =list() 
A_Pair_PU26A_OP_List[:] = []
try:         
    for i in range(0, len(keyslist)):
        A_PU26A_OP_val_List=list() 
        A_PU26A_OP_val_List[:] = []
        for j in range(keyslist[i], ft_cyc_lim[keyslist[i]]):               
            A_PU26A_OP = df_comb['PU26A_OP'][j]      
            A_PU26A_OP_val_List.append(A_PU26A_OP)
        A_PU26A_OP_Maxlist.append(sorted(A_PU26A_OP_val_List)[-1])
        A_PU26A_OP_index_List.append((str(df_comb.index[keyslist[i]])+" to "+str(df_comb.index[ft_cyc_lim[keyslist[i]]])))
    A_Pair_PU26A_OP_List = list(zip(A_PU26A_OP_Maxlist, A_PU26A_OP_index_List[0:]))          
except:
    pass
df_A_Pair_PU26A_OP = pd.DataFrame(A_Pair_PU26A_OP_List)
df_A_Pair_PU26A_OP.columns = ['A_PU26A_OP', 'DATETIME']
df_A_Pair_PU26A_OP.set_index('DATETIME', inplace=True)
print('Done', str(datetime.datetime.now()))

Done 2020-01-16 17:06:52.086839

In [31]:
#A_PU27A_OP
##Working as of 2020.01.15
keyslist = list(ft_cyc_lim.keys()) #creates a list of the ft_cyc_lim keys so that we can iterate later

A_PU27A_OP_Maxlist = list()
A_PU27A_OP_Maxlist[:] = []

A_PU27A_OP_index_List=list()      
A_PU27A_OP_index_List[:] = []

A_Pair_PU27A_OP_List =list() 
A_Pair_PU27A_OP_List[:] = []
try:         
    for i in range(0, len(keyslist)):
        A_PU27A_OP_val_List=list() 
        A_PU27A_OP_val_List[:] = []
        for j in range(keyslist[i], ft_cyc_lim[keyslist[i]]):               
            A_PU27A_OP = df_comb['PU27A_OP'][j]      
            A_PU27A_OP_val_List.append(A_PU27A_OP)
        A_PU27A_OP_Maxlist.append(sorted(A_PU27A_OP_val_List)[-1])
        A_PU27A_OP_index_List.append((str(df_comb.index[keyslist[i]])+" to "+str(df_comb.index[ft_cyc_lim[keyslist[i]]])))
    A_Pair_PU27A_OP_List = list(zip(A_PU27A_OP_Maxlist, A_PU27A_OP_index_List[0:]))          
except:
    pass
  
df_A_Pair_PU27A_OP = pd.DataFrame(A_Pair_PU27A_OP_List)
df_A_Pair_PU27A_OP.columns = ['A_PU27A_OP', 'DATETIME']
df_A_Pair_PU27A_OP.set_index('DATETIME', inplace=True)
print('Done', str(datetime.datetime.now()))

Done 2020-01-16 17:06:53.653581

In [32]:
#this code replaces the 'No Good Data' from 106PU26A_CUR column
for x in range(0, len(df_comb['106PU26A_CUR'])):
    if df_comb['106PU26A_CUR'][x] =='[-11059] No Good Data For Calculation':
            df_comb['106PU26A_CUR'][x] = 0
#A_PU26A_CUR
##Working as of 2020.01.15
keyslist = list(ft_cyc_lim.keys()) #creates a list of the ft_cyc_lim keys so that we can iterate later

A_PU26A_CUR_Maxlist = list()
A_PU26A_CUR_Maxlist[:] = []

A_PU26A_CUR_index_List=list()      
A_PU26A_CUR_index_List[:] = []

A_Pair_PU26A_CUR_List =list() 
A_Pair_PU26A_CUR_List[:] = []
try:         
    for i in range(0, len(keyslist)):
        A_PU26A_CUR_val=list() 
        A_PU26A_CUR_val[:] = []
        for j in range(keyslist[i], ft_cyc_lim[keyslist[i]]):               
            A_PU26A_CUR = df_comb['106PU26A_CUR'][j]      
            A_PU26A_CUR_val.append(A_PU26A_CUR)
        A_PU26A_CUR_Maxlist.append(sorted(A_PU26A_CUR_val)[-1])
        A_PU26A_CUR_index_List.append((str(df_comb.index[keyslist[i]])+" to "+str(df_comb.index[ft_cyc_lim[keyslist[i]]])))
    A_Pair_PU26A_CUR_List = list(zip(A_PU26A_CUR_Maxlist, A_PU26A_CUR_index_List[0:]))          
except:
    pass

df_A_Pair_PU26A_CUR = pd.DataFrame(A_Pair_PU26A_CUR_List)
df_A_Pair_PU26A_CUR.columns = ['A_PU26A_CUR', 'DATETIME']
df_A_Pair_PU26A_CUR.set_index('DATETIME', inplace=True)
print('Done', str(datetime.datetime.now()))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Done 2020-01-16 17:06:57.551754

In [33]:
#this code replaces the 'No Good Data' from 106PU26A_CUR column
for x in range(0, len(df_comb['106PU27A_CUR'])):
    if df_comb['106PU27A_CUR'][x] =='[-11059] No Good Data For Calculation':
            df_comb['106PU27A_CUR'][x] = 0
#A_PU27A_CUR
##Working as of 2020.01.15 after a million trials!!!!!!!!!! mabuak na akong utok!!!
keyslist = list(ft_cyc_lim.keys()) #creates a list of the ft_cyc_lim keys so that we can iterate later

A_PU27A_CUR_Maxlist = list()
A_PU27A_CUR_Maxlist[:] = []

A_PU27A_CUR_index_List=list()      
A_PU27A_CUR_index_List[:] = []

A_Pair_PU27A_CUR_List =list() 
A_Pair_PU27A_CUR_List[:] = []
try:         
    for i in range(0, len(keyslist)):
        A_PU27A_CUR_val=list() 
        A_PU27A_CUR_val[:] = []
        for j in range(keyslist[i], ft_cyc_lim[keyslist[i]]):               
            A_PU27A_CUR = df_comb['106PU27A_CUR'][j]      
            A_PU27A_CUR_val.append(A_PU27A_CUR)
        A_PU27A_CUR_Maxlist.append(sorted(A_PU27A_CUR_val)[-1])
        A_PU27A_CUR_index_List.append((str(df_comb.index[keyslist[i]])+" to "+str(df_comb.index[ft_cyc_lim[keyslist[i]]])))
    A_Pair_PU27A_CUR_List = list(zip(A_PU27A_CUR_Maxlist, A_PU27A_CUR_index_List[0:]))          
except:
    pass
  
df_A_Pair_PU27A_CUR = pd.DataFrame(A_Pair_PU27A_CUR_List)
df_A_Pair_PU27A_CUR.columns = ['A_PU27A_CUR', 'DATETIME']
df_A_Pair_PU27A_CUR.set_index('DATETIME', inplace=True)
print('Done', str(datetime.datetime.now()))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Done 2020-01-16 17:07:00.832489

In [34]:
#A_N2 Dry
##Working as of 2020-01-15 17:26:09.736327
A_Pair_N2_Dry_List = list()
A_Pair_N2_Dry_List[:] = []
A_t_N2_Dry_indexList = list()
A_t_N2_Dry_indexList[:] = []
A_t_N2_Dry_val = list()
A_t_N2_Dry_val[:] = []
try:         
    for i in range(0, len(keyslist)):   
        A_t_N2_Dry = df_comb['A_t_DRY'][ft_cyc_lim[keyslist[i]]]
        A_t_N2_Dry_val.append(A_t_N2_Dry)
        A_t_N2_Dry_indexList.append((str(df_comb.index[keyslist[i]])+" to "+str(df_comb.index[ft_cyc_lim[keyslist[i]]])))
    
    A_Pair_N2_Dry_List = list(zip(A_t_N2_Dry_val, A_t_N2_Dry_indexList[0:]))          
except:
    pass

df_A_Pair_N2DRY = pd.DataFrame(A_Pair_N2_Dry_List)
df_A_Pair_N2DRY.columns = ['A_N2DRY', 'DATETIME']
df_A_Pair_N2DRY.set_index('DATETIME', inplace=True)
print('Done', str(datetime.datetime.now()))

Done 2020-01-16 17:07:00.892345

In [35]:
dfn = df_A_Pair_CWP_1.join(df_A_Pair_CWP_2, how='outer')
dfn1 = df_A_Pair_Filt_t.join(df_A_Pair_MANF_P, how='outer')
dfn2 = df_A_Pair_CWSH1.join(df_A_Pair_CWSH2, how='outer')
dfn3 = df_A_Pair_PRESS1_t.join(df_A_Pair_PRESS2_t, how='outer')
dfn4 = df_A_Pair_PU26A_OP.join(df_A_Pair_PU27A_OP, how='outer')
dfn5 = df_A_Pair_PU26A_CUR.join(df_A_Pair_PU27A_CUR, how='outer')
dfn6 = df_A_Pair_N2DRY.join(dfn, how='outer')
dfn7 = dfn1.join(dfn2, how='outer')
dfn8 = dfn3.join(dfn4, how='outer')
dfn9 = dfn5.join(dfn6, how='outer')
dfn10 = dfn7.join(dfn8, how='outer')
dfn11 = dfn9.join(dfn10, how='outer')
print('Done', str(datetime.datetime.now()))

Done 2020-01-16 17:07:11.659854

In [136]:
#####This block of code appends the Analysis Results from 106TH01 UF
import datetime
from dateutil.parser import parse
import pandas as pd


import openpyxl
wb1 = openpyxl.load_workbook(r'C:\Users\v.t.flores\Documents\Copy of 11.) November_ 2019.xlsx')
TH01_UF_sheet = wb1['106TH01 UF']

#This code finds the indexloc of the cells with day number from the sampling date column
rows_n = list()
try:
    for i in range (1, TH01_UF_sheet.max_row+1):
        if type(TH01_UF_sheet['B'+ str(i)].value) == int:
            #print(str(i)+':'+str(TH01_UF_sheet['B'+ str(i)].value))
            rows_n.append(i)
except:
    pass
#--------------------------
#This code finds the Pb concentration and the datetime
Pb_df_list = list()
Pb_df_list[:] = []
PbList = list()
PbList[:] = []
timeList = list()
timeList[:] = []

for i in range(0, len(rows_n)-1):
    for j in range(rows_n[i], rows_n[i+1]):        
        if TH01_UF_sheet['S'+str(j)].value != None and type(TH01_UF_sheet['S'+str(j)].value) == float:
            if  type(TH01_UF_sheet['C'+str(j)].value) == datetime.datetime:
                time_val = TH01_UF_sheet['C'+str(j)].value           
                strdate = parse(str(time_val))
                newtime = str(strdate).split(" ")[1]
                newdate = "2019/11/"+str(TH01_UF_sheet['B'+str(rows_n[i])].value)+' '+newtime
            elif type(TH01_UF_sheet['C'+str(j)].value) == datetime.time:
                time_val = TH01_UF_sheet['C'+str(j)].value           
                strdate = str(time_val)
                newdate = "2019/11/"+str(TH01_UF_sheet['B'+str(rows_n[i])].value)+' '+strdate               
            timeList.append(parse(newdate))
            Pb_val = TH01_UF_sheet['S'+str(j)].value
            PbList.append(Pb_val)
    #print(TH01_UF_sheet['B'+str(rows_n[i])].value)
Pb_df_list = list(zip(PbList, timeList[0:]))

#converting lists to dataframe
Pb_df = pd.DataFrame(Pb_df_list)
Pb_df.columns = ['Pb', 'DATETIME']
Pb_df.set_index('DATETIME', inplace=True)
print('done')
#--------------
#This code finds the Zn concentration and the datetime

Zn_df_list = list()
Zn_df_list[:] = []
ZnList = list()
ZnList[:] = []
ZntimeList = list()
ZntimeList[:] = []

for i in range(0, len(rows_n)-1):
    for j in range(rows_n[i], rows_n[i+1]):        
        if TH01_UF_sheet['T'+str(j)].value != None and type(TH01_UF_sheet['T'+str(j)].value) == float:
            if  type(TH01_UF_sheet['C'+str(j)].value) == datetime.datetime:
                time_val = TH01_UF_sheet['C'+str(j)].value           
                strdate = parse(str(time_val))
                newtime = str(strdate).split(" ")[1]
                newdate = "2019/11/"+str(TH01_UF_sheet['B'+str(rows_n[i])].value)+' '+newtime
            elif type(TH01_UF_sheet['C'+str(j)].value) == datetime.time:
                time_val = TH01_UF_sheet['C'+str(j)].value           
                strdate = str(time_val)
                newdate = "2019/11/"+str(TH01_UF_sheet['B'+str(rows_n[i])].value)+' '+strdate               
            timeList.append(parse(newdate))
            Zn_val = TH01_UF_sheet['T'+str(j)].value
            ZnList.append(Zn_val)
    #print(TH01_UF_sheet['B'+str(rows_n[i])].value)
Zn_df_list = list(zip(ZnList, timeList[0:]))

#converting lists to dataframe
Zn_df = pd.DataFrame(Zn_df_list)
Zn_df.columns = ['Zn', 'DATETIME']
Zn_df.set_index('DATETIME', inplace=True)

#--------------
#This code finds the Cu concentration and the datetime

Cu_df_list = list()
Cu_df_list[:] = []
CuList = list()
CuList[:] = []
CutimeList = list()
CutimeList[:] = []

for i in range(0, len(rows_n)-1):
    for j in range(rows_n[i], rows_n[i+1]):        
        if TH01_UF_sheet['U'+str(j)].value != None and type(TH01_UF_sheet['U'+str(j)].value) == float: ##check if column is updated
            if  type(TH01_UF_sheet['C'+str(j)].value) == datetime.datetime:
                time_val = TH01_UF_sheet['C'+str(j)].value           
                strdate = parse(str(time_val))
                newtime = str(strdate).split(" ")[1]
                newdate = "2019/11/"+str(TH01_UF_sheet['B'+str(rows_n[i])].value)+' '+newtime
            elif type(TH01_UF_sheet['C'+str(j)].value) == datetime.time:
                time_val = TH01_UF_sheet['C'+str(j)].value           
                strdate = str(time_val)
                newdate = "2019/11/"+str(TH01_UF_sheet['B'+str(rows_n[i])].value)+' '+strdate               
            timeList.append(parse(newdate))
            Cu_val = TH01_UF_sheet['U'+str(j)].value ##check if column and varname is updated
            CuList.append(Cu_val) ##check if list title is updated
Cu_df_list = list(zip(CuList, timeList[0:]))

#converting lists to dataframe
Cu_df = pd.DataFrame(Zn_df_list)
Cu_df.columns = ['Cu', 'DATETIME'] ##check if list title is updated
Cu_df.set_index('DATETIME', inplace=True)

#--------------
#This code finds the Mg concentration and the datetime
Mg_df_list = list()
Mg_df_list[:] = []
MgList = list()
MgList[:] = []
MgtimeList = list()
MgtimeList[:] = []

for i in range(0, len(rows_n)-1):
    for j in range(rows_n[i], rows_n[i+1]):        
        if TH01_UF_sheet['AD'+str(j)].value != None and type(TH01_UF_sheet['AD'+str(j)].value) == float: ##check if column is updated
            if  type(TH01_UF_sheet['C'+str(j)].value) == datetime.datetime:
                time_val = TH01_UF_sheet['C'+str(j)].value           
                strdate = parse(str(time_val))
                newtime = str(strdate).split(" ")[1]
                newdate = "2019/11/"+str(TH01_UF_sheet['B'+str(rows_n[i])].value)+' '+newtime
            elif type(TH01_UF_sheet['C'+str(j)].value) == datetime.time:
                time_val = TH01_UF_sheet['C'+str(j)].value           
                strdate = str(time_val)
                newdate = "2019/11/"+str(TH01_UF_sheet['B'+str(rows_n[i])].value)+' '+strdate               
            timeList.append(parse(newdate))
            Mg_val = TH01_UF_sheet['AD'+str(j)].value ##check if column and varname are updated
            MgList.append(Mg_val) ##check if list title is updated
Mg_df_list = list(zip(MgList, timeList[0:])) ##check if the list titles and the df list are updated

#converting lists to dataframe
Mg_df = pd.DataFrame(Mg_df_list) ##check if the element list title is updated
Mg_df.columns = ['Mg', 'DATETIME'] ##check if list title and the column name are updated
Mg_df.set_index('DATETIME', inplace=True)
#--------------

dfEl1 = Pb_df.join(Mg_df, how='outer')
dfEl2 = Cu_df.join(Zn_df, how='outer')
dfEL3 = dfEl1.join(dfEl2, how='outer')
print('Done', str(datetime.datetime.now()))

done
Done 2020-01-16 18:59:33.627685

In [90]:
dfn12 = dfEL3.join(dfn11, how='outer')

In [91]:
dfEL3

                        Pb      Mg      Cu      Zn
DATETIME
2019-11-01 07:00:00  0.001  0.0058  0.0266  0.0266
2019-11-01 11:00:00  0.001  0.0049  0.0372  0.0372
2019-11-01 15:00:00  0.001  0.0050  0.0409  0.0409
2019-11-01 19:00:00  0.001  0.0055  0.0209  0.0209
2019-11-01 23:00:00  0.001  0.0062  0.0191  0.0191
...                    ...     ...     ...     ...
2019-11-30 11:00:00  0.001  0.0046  0.0041  0.0041
2019-11-30 15:00:00  0.001  0.0042  0.0054  0.0054
2019-11-30 19:00:00  0.001  0.0047  0.0044  0.0044
2019-11-30 23:00:00  0.001  0.0059  0.0045  0.0045
2019-11-30 03:00:00  0.001  0.0056  0.0066  0.0066

[175 rows x 4 columns]

In [39]:
dfn12.to_excel(r'C:\Users\v.t.flores\Documents\201911Data_Mg_Inv_20200116.xlsx')

In [40]:
str(df_comb.index[keyslist[0]])+" to "+str(df_comb.index[ft_cyc_lim[keyslist[0]]])

'2019-11-01 00:11:00 to 2019-11-01 00:34:00'

In [89]:
keyslist[0]

11

In [48]:
df_comb.index[keyslist[0]]

Timestamp('2019-11-01 00:11:00')

In [46]:
df_comb.index[ft_cyc_lim[keyslist[0]]]

Timestamp('2019-11-01 00:34:00')

In [137]:
dfEL3.index[0]

Timestamp('2019-11-01 07:00:00')

In [52]:
df_comb.index[keyslist[0]] > dfEL3.index[0]

False

In [55]:
dfn11['newdt'] = dfn11.index

In [ ]:
df_106FT02B_spcl['DATETIME'] = df_106FT02B_spcl['DATETIME'].apply(lambda x: parse(x))

In [58]:
dfn11['newdt'][0].split("to")

['2019-11-01 00:11:00 ', ' 2019-11-01 00:34:00']

In [66]:
def datesplitter_start(x):
    return parse(x.split('to')[0])
def datesplitter_end(x):
    return parse(x.split('to')[1])

In [67]:
dfn11['startdate'] = dfn11['newdt'].apply(lambda x: datesplitter_start(x))

In [68]:
dfn11['enddate'] = dfn11['newdt'].apply(lambda x: datesplitter_end(x))

In [71]:
print(type(dfn11['enddate'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [74]:
dfEL3.index[0] < dfn11['enddate'][0]

False

In [75]:
dfn11['enddate'][0]

Timestamp('2019-11-01 00:34:00')

In [76]:
dfEL3.index[0]

Timestamp('2019-11-01 07:00:00')

In [83]:
dfEL3.index[0] < dfn11['startdate'][0]

False

In [78]:
dfn11.index[0]

'2019-11-01 00:11:00 to 2019-11-01 00:34:00'

In [ ]:
List_analysis = list(zip(, [0:]))

In [ ]:
df_analysis = pd.DataFrame()

In [138]:
dfEL3['daterange'] = dfEL3.index

In [139]:
dfEL3['daterange']

DATETIME
2019-11-01 07:00:00   2019-11-01 07:00:00
2019-11-01 11:00:00   2019-11-01 11:00:00
2019-11-01 15:00:00   2019-11-01 15:00:00
2019-11-01 19:00:00   2019-11-01 19:00:00
2019-11-01 23:00:00   2019-11-01 23:00:00
                              ...
2019-11-30 11:00:00   2019-11-30 11:00:00
2019-11-30 15:00:00   2019-11-30 15:00:00
2019-11-30 19:00:00   2019-11-30 19:00:00
2019-11-30 23:00:00   2019-11-30 23:00:00
2019-11-30 03:00:00   2019-11-30 03:00:00
Name: daterange, Length: 175, dtype: datetime64[ns]

In [140]:
dfEL3

                        Pb      Mg      Cu      Zn           daterange
DATETIME
2019-11-01 07:00:00  0.001  0.0058  0.0266  0.0266 2019-11-01 07:00:00
2019-11-01 11:00:00  0.001  0.0049  0.0372  0.0372 2019-11-01 11:00:00
2019-11-01 15:00:00  0.001  0.0050  0.0409  0.0409 2019-11-01 15:00:00
2019-11-01 19:00:00  0.001  0.0055  0.0209  0.0209 2019-11-01 19:00:00
2019-11-01 23:00:00  0.001  0.0062  0.0191  0.0191 2019-11-01 23:00:00
...                    ...     ...     ...     ...                 ...
2019-11-30 11:00:00  0.001  0.0046  0.0041  0.0041 2019-11-30 11:00:00
2019-11-30 15:00:00  0.001  0.0042  0.0054  0.0054 2019-11-30 15:00:00
2019-11-30 19:00:00  0.001  0.0047  0.0044  0.0044 2019-11-30 19:00:00
2019-11-30 23:00:00  0.001  0.0059  0.0045  0.0045 2019-11-30 23:00:00
2019-11-30 03:00:00  0.001  0.0056  0.0066  0.0066 2019-11-30 03:00:00

[175 rows x 5 columns]

In [97]:
dfn11.index[0]

'2019-11-01 00:11:00 to 2019-11-01 00:34:00'

In [98]:
len(dfn11['startdate'])

1325

In [114]:
for i in range(1, 5):
    print(df_ELa['daterange'][i])

2019-11-01 11:00:00
2019-11-01 15:00:00
2019-11-01 19:00:00
2019-11-01 23:00:00

In [144]:
df_anl_indexList = list()
df_anl_indexList[:] = []

df_n11_indexList = list()
df_n11_indexList[:] = []

for i in range(0, 175):
    for j in range(0, len(dfn11)):
        if dfn11['startdate'][j] <= dfEL3['daterange'][i] and dfn11['enddate'][j] >= dfEL3['daterange'][i]:
            df_n11_indexList.append(dfn11.index[j])
            df_anl_indexList.append(dfEL3.index[i])

In [146]:

Analys_indexList_Pair = list(zip(df_anl_indexList, df_n11_indexList[0:]))

In [185]:
len(df_anl_indexList)

117

In [186]:
len(df_n11_indexList)

117

In [148]:
dfEL4 = pd.DataFrame(Analys_indexList_Pair)

In [182]:
dfEL3.to_excel(r'C:\Users\v.t.flores\Documents\20200116PM_datetimerangep2.xlsx')

In [184]:
dfEL4.head(50)

                                              FT_cycletimerange
DATETIME
2019-11-01 07:00:00  2019-11-01 06:56:00 to 2019-11-01 07:20:00
2019-11-01 19:00:00  2019-11-01 18:57:00 to 2019-11-01 19:20:00
2019-11-01 23:00:00  2019-11-01 22:45:00 to 2019-11-01 23:07:00
2019-11-01 03:00:00  2019-11-01 02:44:00 to 2019-11-01 03:06:00
2019-11-02 11:00:00  2019-11-02 10:42:00 to 2019-11-02 11:05:00
2019-11-02 15:00:00  2019-11-02 14:46:00 to 2019-11-02 15:08:00
2019-11-02 19:00:00  2019-11-02 18:55:00 to 2019-11-02 19:17:00
2019-11-02 03:00:00  2019-11-02 02:50:00 to 2019-11-02 03:12:00
2019-11-03 07:00:00  2019-11-03 06:44:00 to 2019-11-03 07:08:00
2019-11-03 11:00:00  2019-11-03 10:56:00 to 2019-11-03 11:18:00
2019-11-03 15:00:00  2019-11-03 14:39:00 to 2019-11-03 15:02:00
2019-11-03 19:00:00  2019-11-03 18:48:00 to 2019-11-03 19:10:00
2019-11-03 23:00:00  2019-11-03 22:36:00 to 2019-11-03 23:00:00
2019-11-03 03:00:00  2019-11-03 02:56:00 to 2019-11-03 03:20:00
2019-11-04 07:00:00  2019-11-04 06:41:00 to 2019-11-04 07:05:00
2019-11-04 11:00:00  2019-11-04 10:41:00 to 2019-11-04 11:05:00
2019-11-04 15:00:00  2019-11-04 14:51:00 to 2019-11-04 15:16:00
2019-11-04 23:00:00  2019-11-04 22:49:00 to 2019-11-04 23:14:00
2019-11-04 03:00:00  2019-11-04 02:51:00 to 2019-11-04 03:14:00
2019-11-05 11:00:00  2019-11-05 10:41:00 to 2019-11-05 11:04:00
2019-11-05 15:00:00  2019-11-05 14:55:00 to 2019-11-05 15:19:00
2019-11-05 23:00:00  2019-11-05 22:39:00 to 2019-11-05 23:03:00
2019-11-05 03:00:00  2019-11-05 02:47:00 to 2019-11-05 03:11:00
2019-11-06 07:00:00  2019-11-06 06:49:00 to 2019-11-06 07:15:00
2019-11-06 19:00:00  2019-11-06 19:00:00 to 2019-11-06 19:27:00
2019-11-06 23:00:00  2019-11-06 22:53:00 to 2019-11-06 23:19:00
2019-11-06 03:00:00  2019-11-06 02:51:00 to 2019-11-06 03:15:00
2019-11-07 07:00:00  2019-11-07 06:57:00 to 2019-11-07 07:25:00
2019-11-07 11:00:00  2019-11-07 10:37:00 to 2019-11-07 11:09:00
2019-11-07 19:00:00  2019-11-07 18:40:00 to 2019-11-07 19:01:00
2019-11-07 03:00:00  2019-11-07 02:46:00 to 2019-11-07 03:12:00
2019-11-08 07:00:00  2019-11-08 06:45:00 to 2019-11-08 07:09:00
2019-11-08 11:00:00  2019-11-08 10:47:00 to 2019-11-08 11:10:00
2019-11-08 15:00:00  2019-11-08 14:40:00 to 2019-11-08 15:04:00
2019-11-08 19:00:00  2019-11-08 18:55:00 to 2019-11-08 19:20:00
2019-11-08 03:00:00  2019-11-08 02:45:00 to 2019-11-08 03:11:00
2019-11-09 07:00:00  2019-11-09 06:40:00 to 2019-11-09 07:03:00
2019-11-09 11:00:00  2019-11-09 10:48:00 to 2019-11-09 11:14:00
2019-11-09 19:00:00  2019-11-09 18:33:00 to 2019-11-09 19:01:00
2019-11-09 03:00:00  2019-11-09 02:42:00 to 2019-11-09 03:07:00
2019-11-10 11:00:00  2019-11-10 10:54:00 to 2019-11-10 11:22:00
2019-11-10 19:00:00  2019-11-10 18:59:00 to 2019-11-10 19:18:00
2019-11-10 23:00:00  2019-11-10 22:52:00 to 2019-11-10 23:15:00
2019-11-11 07:00:00  2019-11-11 06:58:00 to 2019-11-11 07:22:00
2019-11-11 19:00:00  2019-11-11 18:59:00 to 2019-11-11 19:22:00
2019-11-11 23:00:00  2019-11-11 22:42:00 to 2019-11-11 23:06:00
2019-11-12 11:00:00  2019-11-12 10:42:00 to 2019-11-12 11:04:00
2019-11-12 15:00:00  2019-11-12 14:53:00 to 2019-11-12 15:14:00
2019-11-12 23:00:00  2019-11-12 22:45:00 to 2019-11-12 23:09:00
2019-11-12 03:00:00  2019-11-12 02:56:00 to 2019-11-12 03:19:00

In [157]:
dfEL4.columns = ['DATETIME', 'FT_cycletimerange']

In [159]:
dfEL4.set_index('DATETIME', inplace=True)

In [160]:
dfEL5 = dfEL3.join(dfEL4, how='outer')

In [169]:
dfEL3.index

DatetimeIndex(['2019-11-01 07:00:00', '2019-11-01 11:00:00',
               '2019-11-01 15:00:00', '2019-11-01 19:00:00',
               '2019-11-01 23:00:00', '2019-11-01 03:00:00',
               '2019-11-02 07:00:00', '2019-11-02 11:00:00',
               '2019-11-02 15:00:00', '2019-11-02 19:00:00',
               ...
               '2019-11-29 15:00:00', '2019-11-29 19:00:00',
               '2019-11-29 23:00:00', '2019-11-29 03:00:00',
               '2019-11-30 07:00:00', '2019-11-30 11:00:00',
               '2019-11-30 15:00:00', '2019-11-30 19:00:00',
               '2019-11-30 23:00:00', '2019-11-30 03:00:00'],
              dtype='datetime64[ns]', name='DATETIME', length=175, freq=None)

In [171]:
dfEL3

                        Pb      Mg      Cu      Zn           daterange
DATETIME
2019-11-01 07:00:00  0.001  0.0058  0.0266  0.0266 2019-11-01 07:00:00
2019-11-01 11:00:00  0.001  0.0049  0.0372  0.0372 2019-11-01 11:00:00
2019-11-01 15:00:00  0.001  0.0050  0.0409  0.0409 2019-11-01 15:00:00
2019-11-01 19:00:00  0.001  0.0055  0.0209  0.0209 2019-11-01 19:00:00
2019-11-01 23:00:00  0.001  0.0062  0.0191  0.0191 2019-11-01 23:00:00
...                    ...     ...     ...     ...                 ...
2019-11-30 11:00:00  0.001  0.0046  0.0041  0.0041 2019-11-30 11:00:00
2019-11-30 15:00:00  0.001  0.0042  0.0054  0.0054 2019-11-30 15:00:00
2019-11-30 19:00:00  0.001  0.0047  0.0044  0.0044 2019-11-30 19:00:00
2019-11-30 23:00:00  0.001  0.0059  0.0045  0.0045 2019-11-30 23:00:00
2019-11-30 03:00:00  0.001  0.0056  0.0066  0.0066 2019-11-30 03:00:00

[175 rows x 5 columns]

In [181]:
dfEL4.index[0:2]

DatetimeIndex(['2019-11-01 07:00:00', '2019-11-01 19:00:00'], dtype='datetime64[ns]', name='DATETIME', freq=None)

In [172]:
dfEL4

                                              FT_cycletimerange
DATETIME
2019-11-01 07:00:00  2019-11-01 06:56:00 to 2019-11-01 07:20:00
2019-11-01 19:00:00  2019-11-01 18:57:00 to 2019-11-01 19:20:00
2019-11-01 23:00:00  2019-11-01 22:45:00 to 2019-11-01 23:07:00
2019-11-01 03:00:00  2019-11-01 02:44:00 to 2019-11-01 03:06:00
2019-11-02 11:00:00  2019-11-02 10:42:00 to 2019-11-02 11:05:00
...                                                         ...
2019-11-29 03:00:00  2019-11-29 02:49:00 to 2019-11-29 03:11:00
2019-11-30 11:00:00  2019-11-30 10:52:00 to 2019-11-30 11:13:00
2019-11-30 15:00:00  2019-11-30 14:52:00 to 2019-11-30 15:15:00
2019-11-30 23:00:00  2019-11-30 22:59:00 to 2019-11-30 23:20:00
2019-11-30 03:00:00  2019-11-30 02:45:00 to 2019-11-30 03:07:00

[117 rows x 1 columns]

In [164]:
dfEL5['FT_cycletimerange']

DATETIME
2019-11-01 03:00:00    2019-11-01 02:44:00 to 2019-11-01 03:06:00
2019-11-01 07:00:00    2019-11-01 06:56:00 to 2019-11-01 07:20:00
2019-11-01 11:00:00                                           NaN
2019-11-01 15:00:00                                           NaN
2019-11-01 19:00:00    2019-11-01 18:57:00 to 2019-11-01 19:20:00
                                          ...
2019-11-30 07:00:00                                           NaN
2019-11-30 11:00:00    2019-11-30 10:52:00 to 2019-11-30 11:13:00
2019-11-30 15:00:00    2019-11-30 14:52:00 to 2019-11-30 15:15:00
2019-11-30 19:00:00                                           NaN
2019-11-30 23:00:00    2019-11-30 22:59:00 to 2019-11-30 23:20:00
Name: FT_cycletimerange, Length: 175, dtype: object

In [175]:
dfEL5.to_excel(r'C:\Users\v.t.flores\Documents\20200116PM_datetimerangep.xlsx')

In [147]:
Analys_indexList_Pair

[(Timestamp('2019-11-01 07:00:00'),
  '2019-11-01 06:56:00 to 2019-11-01 07:20:00'),
 (Timestamp('2019-11-01 19:00:00'),
  '2019-11-01 18:57:00 to 2019-11-01 19:20:00'),
 (Timestamp('2019-11-01 23:00:00'),
  '2019-11-01 22:45:00 to 2019-11-01 23:07:00'),
 (Timestamp('2019-11-01 03:00:00'),
  '2019-11-01 02:44:00 to 2019-11-01 03:06:00'),
 (Timestamp('2019-11-02 11:00:00'),
  '2019-11-02 10:42:00 to 2019-11-02 11:05:00'),
 (Timestamp('2019-11-02 15:00:00'),
  '2019-11-02 14:46:00 to 2019-11-02 15:08:00'),
 (Timestamp('2019-11-02 19:00:00'),
  '2019-11-02 18:55:00 to 2019-11-02 19:17:00'),
 (Timestamp('2019-11-02 03:00:00'),
  '2019-11-02 02:50:00 to 2019-11-02 03:12:00'),
 (Timestamp('2019-11-03 07:00:00'),
  '2019-11-03 06:44:00 to 2019-11-03 07:08:00'),
 (Timestamp('2019-11-03 11:00:00'),
  '2019-11-03 10:56:00 to 2019-11-03 11:18:00'),
 (Timestamp('2019-11-03 15:00:00'),
  '2019-11-03 14:39:00 to 2019-11-03 15:02:00'),
 (Timestamp('2019-11-03 19:00:00'),
  '2019-11-03 18:48:00 to 2019-11-03 19:10:00'),
 (Timestamp('2019-11-03 23:00:00'),
  '2019-11-03 22:36:00 to 2019-11-03 23:00:00'),
 (Timestamp('2019-11-03 03:00:00'),
  '2019-11-03 02:56:00 to 2019-11-03 03:20:00'),
 (Timestamp('2019-11-04 07:00:00'),
  '2019-11-04 06:41:00 to 2019-11-04 07:05:00'),
 (Timestamp('2019-11-04 11:00:00'),
  '2019-11-04 10:41:00 to 2019-11-04 11:05:00'),
 (Timestamp('2019-11-04 15:00:00'),
  '2019-11-04 14:51:00 to 2019-11-04 15:16:00'),
 (Timestamp('2019-11-04 23:00:00'),
  '2019-11-04 22:49:00 to 2019-11-04 23:14:00'),
 (Timestamp('2019-11-04 03:00:00'),
  '2019-11-04 02:51:00 to 2019-11-04 03:14:00'),
 (Timestamp('2019-11-05 11:00:00'),
  '2019-11-05 10:41:00 to 2019-11-05 11:04:00'),
 (Timestamp('2019-11-05 15:00:00'),
  '2019-11-05 14:55:00 to 2019-11-05 15:19:00'),
 (Timestamp('2019-11-05 23:00:00'),
  '2019-11-05 22:39:00 to 2019-11-05 23:03:00'),
 (Timestamp('2019-11-05 03:00:00'),
  '2019-11-05 02:47:00 to 2019-11-05 03:11:00'),
 (Timestamp('2019-11-06 07:00:00'),
  '2019-11-06 06:49:00 to 2019-11-06 07:15:00'),
 (Timestamp('2019-11-06 19:00:00'),
  '2019-11-06 19:00:00 to 2019-11-06 19:27:00'),
 (Timestamp('2019-11-06 23:00:00'),
  '2019-11-06 22:53:00 to 2019-11-06 23:19:00'),
 (Timestamp('2019-11-06 03:00:00'),
  '2019-11-06 02:51:00 to 2019-11-06 03:15:00'),
 (Timestamp('2019-11-07 07:00:00'),
  '2019-11-07 06:57:00 to 2019-11-07 07:25:00'),
 (Timestamp('2019-11-07 11:00:00'),
  '2019-11-07 10:37:00 to 2019-11-07 11:09:00'),
 (Timestamp('2019-11-07 19:00:00'),
  '2019-11-07 18:40:00 to 2019-11-07 19:01:00'),
 (Timestamp('2019-11-07 03:00:00'),
  '2019-11-07 02:46:00 to 2019-11-07 03:12:00'),
 (Timestamp('2019-11-08 07:00:00'),
  '2019-11-08 06:45:00 to 2019-11-08 07:09:00'),
 (Timestamp('2019-11-08 11:00:00'),
  '2019-11-08 10:47:00 to 2019-11-08 11:10:00'),
 (Timestamp('2019-11-08 15:00:00'),
  '2019-11-08 14:40:00 to 2019-11-08 15:04:00'),
 (Timestamp('2019-11-08 19:00:00'),
  '2019-11-08 18:55:00 to 2019-11-08 19:20:00'),
 (Timestamp('2019-11-08 03:00:00'),
  '2019-11-08 02:45:00 to 2019-11-08 03:11:00'),
 (Timestamp('2019-11-09 07:00:00'),
  '2019-11-09 06:40:00 to 2019-11-09 07:03:00'),
 (Timestamp('2019-11-09 11:00:00'),
  '2019-11-09 10:48:00 to 2019-11-09 11:14:00'),
 (Timestamp('2019-11-09 19:00:00'),
  '2019-11-09 18:33:00 to 2019-11-09 19:01:00'),
 (Timestamp('2019-11-09 03:00:00'),
  '2019-11-09 02:42:00 to 2019-11-09 03:07:00'),
 (Timestamp('2019-11-10 11:00:00'),
  '2019-11-10 10:54:00 to 2019-11-10 11:22:00'),
 (Timestamp('2019-11-10 19:00:00'),
  '2019-11-10 18:59:00 to 2019-11-10 19:18:00'),
 (Timestamp('2019-11-10 23:00:00'),
  '2019-11-10 22:52:00 to 2019-11-10 23:15:00'),
 (Timestamp('2019-11-11 07:00:00'),
  '2019-11-11 06:58:00 to 2019-11-11 07:22:00'),
 (Timestamp('2019-11-11 19:00:00'),
  '2019-11-11 18:59:00 to 2019-11-11 19:22:00'),
 (Timestamp('2019-11-11 23:00:00'),
  '2019-11-11 22:42:00 to 2019-11-11 23:06:00'),
 (Timestamp('2019-11-12 11:00:00'),
  '2019-11-12 10:42:00 to 2019-11-12 11:04:00'),
 (Timestamp('2019-11-12 15:00:00'),
  '2019-11-12 14:53:00 to 2019-11-12 15:14:00'),
 (Timestamp('2019-11-12 23:00:00'),
  '2019-11-12 22:45:00 to 2019-11-12 23:09:00'),
 (Timestamp('2019-11-12 03:00:00'),
  '2019-11-12 02:56:00 to 2019-11-12 03:19:00'),
 (Timestamp('2019-11-13 07:00:00'),
  '2019-11-13 06:39:00 to 2019-11-13 07:03:00'),
 (Timestamp('2019-11-13 11:00:00'),
  '2019-11-13 10:39:00 to 2019-11-13 11:02:00'),
 (Timestamp('2019-11-13 15:00:00'),
  '2019-11-13 14:57:00 to 2019-11-13 15:16:00'),
 (Timestamp('2019-11-13 19:00:00'),
  '2019-11-13 18:50:00 to 2019-11-13 19:13:00'),
 (Timestamp('2019-11-13 23:00:00'),
  '2019-11-13 22:50:00 to 2019-11-13 23:14:00'),
 (Timestamp('2019-11-13 03:00:00'),
  '2019-11-13 03:00:00 to 2019-11-13 03:23:00'),
 (Timestamp('2019-11-14 15:00:00'),
  '2019-11-14 14:37:00 to 2019-11-14 15:00:00'),
 (Timestamp('2019-11-14 19:00:00'),
  '2019-11-14 18:57:00 to 2019-11-14 19:20:00'),
 (Timestamp('2019-11-14 23:00:00'),
  '2019-11-14 22:56:00 to 2019-11-14 23:17:00'),
 (Timestamp('2019-11-15 11:00:00'),
  '2019-11-15 10:43:00 to 2019-11-15 11:07:00'),
 (Timestamp('2019-11-15 19:00:00'),
  '2019-11-15 18:48:00 to 2019-11-15 19:10:00'),
 (Timestamp('2019-11-15 23:00:00'),
  '2019-11-15 23:00:00 to 2019-11-15 23:23:00'),
 (Timestamp('2019-11-16 07:00:00'),
  '2019-11-16 06:48:00 to 2019-11-16 07:10:00'),
 (Timestamp('2019-11-16 15:00:00'),
  '2019-11-16 15:00:00 to 2019-11-16 15:22:00'),
 (Timestamp('2019-11-16 19:00:00'),
  '2019-11-16 18:41:00 to 2019-11-16 19:02:00'),
 (Timestamp('2019-11-16 23:00:00'),
  '2019-11-16 22:44:00 to 2019-11-16 23:06:00'),
 (Timestamp('2019-11-16 03:00:00'),
  '2019-11-16 02:52:00 to 2019-11-16 03:14:00'),
 (Timestamp('2019-11-17 07:00:00'),
  '2019-11-17 06:49:00 to 2019-11-17 07:12:00'),
 (Timestamp('2019-11-17 11:00:00'),
  '2019-11-17 10:55:00 to 2019-11-17 11:17:00'),
 (Timestamp('2019-11-17 19:00:00'),
  '2019-11-17 18:38:00 to 2019-11-17 19:00:00'),
 (Timestamp('2019-11-18 19:00:00'),
  '2019-11-18 18:50:00 to 2019-11-18 19:10:00'),
 (Timestamp('2019-11-18 23:00:00'),
  '2019-11-18 22:49:00 to 2019-11-18 23:10:00'),
 (Timestamp('2019-11-19 07:00:00'),
  '2019-11-19 07:00:00 to 2019-11-19 07:21:00'),
 (Timestamp('2019-11-19 11:00:00'),
  '2019-11-19 11:00:00 to 2019-11-19 11:16:00'),
 (Timestamp('2019-11-19 15:00:00'),
  '2019-11-19 14:34:00 to 2019-11-19 15:00:00'),
 (Timestamp('2019-11-19 23:00:00'),
  '2019-11-19 22:43:00 to 2019-11-19 23:04:00'),
 (Timestamp('2019-11-19 03:00:00'),
  '2019-11-19 03:00:00 to 2019-11-19 03:18:00'),
 (Timestamp('2019-11-20 11:00:00'),
  '2019-11-20 10:55:00 to 2019-11-20 11:17:00'),
 (Timestamp('2019-11-20 19:00:00'),
  '2019-11-20 18:39:00 to 2019-11-20 19:00:00'),
 (Timestamp('2019-11-20 23:00:00'),
  '2019-11-20 22:45:00 to 2019-11-20 23:06:00'),
 (Timestamp('2019-11-20 03:00:00'),
  '2019-11-20 02:45:00 to 2019-11-20 03:07:00'),
 (Timestamp('2019-11-21 07:00:00'),
  '2019-11-21 06:44:00 to 2019-11-21 07:06:00'),
 (Timestamp('2019-11-21 11:00:00'),
  '2019-11-21 10:57:00 to 2019-11-21 11:19:00'),
 (Timestamp('2019-11-21 19:00:00'),
  '2019-11-21 18:40:00 to 2019-11-21 19:00:00'),
 (Timestamp('2019-11-21 03:00:00'),
  '2019-11-21 02:49:00 to 2019-11-21 03:10:00'),
 (Timestamp('2019-11-22 07:00:00'),
  '2019-11-22 06:40:00 to 2019-11-22 07:02:00'),
 (Timestamp('2019-11-22 15:00:00'),
  '2019-11-22 14:49:00 to 2019-11-22 15:11:00'),
 (Timestamp('2019-11-22 19:00:00'),
  '2019-11-22 18:54:00 to 2019-11-22 19:17:00'),
 (Timestamp('2019-11-22 23:00:00'),
  '2019-11-22 22:55:00 to 2019-11-22 23:16:00'),
 (Timestamp('2019-11-23 11:00:00'),
  '2019-11-23 10:44:00 to 2019-11-23 11:05:00'),
 (Timestamp('2019-11-23 15:00:00'),
  '2019-11-23 14:41:00 to 2019-11-23 15:02:00'),
 (Timestamp('2019-11-23 19:00:00'),
  '2019-11-23 18:42:00 to 2019-11-23 19:04:00'),
 (Timestamp('2019-11-23 23:00:00'),
  '2019-11-23 22:40:00 to 2019-11-23 23:03:00'),
 (Timestamp('2019-11-23 03:00:00'),
  '2019-11-23 02:59:00 to 2019-11-23 03:24:00'),
 (Timestamp('2019-11-24 15:00:00'),
  '2019-11-24 14:42:00 to 2019-11-24 15:03:00'),
 (Timestamp('2019-11-24 19:00:00'),
  '2019-11-24 18:39:00 to 2019-11-24 19:00:00'),
 (Timestamp('2019-11-24 03:00:00'),
  '2019-11-24 02:48:00 to 2019-11-24 03:11:00'),
 (Timestamp('2019-11-25 11:00:00'),
  '2019-11-25 10:39:00 to 2019-11-25 11:01:00'),
 (Timestamp('2019-11-25 19:00:00'),
  '2019-11-25 18:41:00 to 2019-11-25 19:02:00'),
 (Timestamp('2019-11-25 23:00:00'),
  '2019-11-25 22:41:00 to 2019-11-25 23:02:00'),
 (Timestamp('2019-11-25 03:00:00'),
  '2019-11-25 02:45:00 to 2019-11-25 03:09:00'),
 (Timestamp('2019-11-26 19:00:00'),
  '2019-11-26 18:43:00 to 2019-11-26 19:02:00'),
 (Timestamp('2019-11-27 07:00:00'),
  '2019-11-27 06:39:00 to 2019-11-27 07:00:00'),
 (Timestamp('2019-11-27 11:00:00'),
  '2019-11-27 10:46:00 to 2019-11-27 11:08:00'),
 (Timestamp('2019-11-27 15:00:00'),
  '2019-11-27 14:54:00 to 2019-11-27 15:18:00'),
 (Timestamp('2019-11-27 19:00:00'),
  '2019-11-27 18:49:00 to 2019-11-27 19:13:00'),
 (Timestamp('2019-11-28 07:00:00'),
  '2019-11-28 06:43:00 to 2019-11-28 07:08:00'),
 (Timestamp('2019-11-28 15:00:00'),
  '2019-11-28 14:50:00 to 2019-11-28 15:15:00'),
 (Timestamp('2019-11-28 19:00:00'),
  '2019-11-28 18:37:00 to 2019-11-28 19:03:00'),
 (Timestamp('2019-11-28 23:00:00'),
  '2019-11-28 22:51:00 to 2019-11-28 23:15:00'),
 (Timestamp('2019-11-29 07:00:00'),
  '2019-11-29 06:54:00 to 2019-11-29 07:16:00'),
 (Timestamp('2019-11-29 23:00:00'),
  '2019-11-29 22:39:00 to 2019-11-29 23:01:00'),
 (Timestamp('2019-11-29 03:00:00'),
  '2019-11-29 02:49:00 to 2019-11-29 03:11:00'),
 (Timestamp('2019-11-30 11:00:00'),
  '2019-11-30 10:52:00 to 2019-11-30 11:13:00'),
 (Timestamp('2019-11-30 15:00:00'),
  '2019-11-30 14:52:00 to 2019-11-30 15:15:00'),
 (Timestamp('2019-11-30 23:00:00'),
  '2019-11-30 22:59:00 to 2019-11-30 23:20:00'),
 (Timestamp('2019-11-30 03:00:00'),
  '2019-11-30 02:45:00 to 2019-11-30 03:07:00')]

In [165]:
dfEL3

                        Pb      Mg      Cu      Zn           daterange
DATETIME
2019-11-01 07:00:00  0.001  0.0058  0.0266  0.0266 2019-11-01 07:00:00
2019-11-01 11:00:00  0.001  0.0049  0.0372  0.0372 2019-11-01 11:00:00
2019-11-01 15:00:00  0.001  0.0050  0.0409  0.0409 2019-11-01 15:00:00
2019-11-01 19:00:00  0.001  0.0055  0.0209  0.0209 2019-11-01 19:00:00
2019-11-01 23:00:00  0.001  0.0062  0.0191  0.0191 2019-11-01 23:00:00
...                    ...     ...     ...     ...                 ...
2019-11-30 11:00:00  0.001  0.0046  0.0041  0.0041 2019-11-30 11:00:00
2019-11-30 15:00:00  0.001  0.0042  0.0054  0.0054 2019-11-30 15:00:00
2019-11-30 19:00:00  0.001  0.0047  0.0044  0.0044 2019-11-30 19:00:00
2019-11-30 23:00:00  0.001  0.0059  0.0045  0.0045 2019-11-30 23:00:00
2019-11-30 03:00:00  0.001  0.0056  0.0066  0.0066 2019-11-30 03:00:00

[175 rows x 5 columns]

In [142]:
dfn11['startdate'][0]

Timestamp('2019-11-01 00:11:00')

In [ ]:

for i in range(0, len(rows_n)-1):
    for j in range(rows_n[i], rows_n[i+1]):        
        if TH01_UF_sheet['AD'+str(j)].value != None and type(TH01_UF_sheet['AD'+str(j)].value) == float: ##check if column is updated
            if  type(TH01_UF_sheet['C'+str(j)].value) == datetime.datetime:
                time_val = TH01_UF_sheet['C'+str(j)].value           
                strdate = parse(str(time_val))
                newtime = str(strdate).split(" ")[1]
                newdate = "2019/11/"+str(TH01_UF_sheet['B'+str(rows_n[i])].value)+' '+newtime
            elif type(TH01_UF_sheet['C'+str(j)].value) == datetime.time:
                time_val = TH01_UF_sheet['C'+str(j)].value           
                strdate = str(time_val)
                newdate = "2019/11/"+str(TH01_UF_sheet['B'+str(rows_n[i])].value)+' '+strdate               
            timeList.append(parse(newdate))
            Mg_val = TH01_UF_sheet['AD'+str(j)].value ##check if column and varname are updated
            MgList.append(Mg_val) ##check if list title is updated
Mg_df_list = list(zip(MgList, timeList[0:])) ##check if the list titles and the df list are updated