In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from dateutil.parser import parse
from itertools import compress
from collections import OrderedDict
from datetime import date
import datetime
import re
from datetime import timedelta
import openpyxl
from sklearn.metrics import mean_squared_error
import plotly.express as px

import os
import re
import seaborn as sns

from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12, 10

In [2]:
for root, dirs, files in os.walk(r'D:'):
    for filename in files:
        if filename.endswith('.xlsx'):
            print (os.path.join(root, filename))

In [130]:
filepath_TO = r'\\THGOBNA002\thpal\05 Production\302 Management - Report\TNH-302-101 Shift Turnover (THPAL)\Production Daily Report\Process B\2020\07 July\000 Shift Turnover'

In [3]:
columns = ['A', 'B', 'C','D','E','F','G','H','R','S','T','U','V','W','X','Y','Z','AA','AB','AC','AD','AE','AF','AP','AQ','AR','AS','AT','AU','AV','AW','AX','AY','AZ','BA','BB','BC','BM','BN','BO','BP','BQ','BR','BS']
def find_specific_cellTO(theFile, sheetname, keyword, date_activity):
    for row in range(70, 100):
        for column in columns:  # Here you can add or reduce the columns
            cell_name = "{}{}".format(column, row)
            #regex block. cellkeywords_regex contains the rules on which characters to match.
            #------------ keyword contains the word in string that we want to find in the excel file
            #------------ cellvalue contains the word in string from the cell in the excel file
            #------------ keywordLike is a list of all the individual character that matches the rules set in cellkeywords_regex
            #------------ newpumplike is the resulting string from the combined characters of keywordLike
            
            cellkeywords_regex = re.compile(r'[hole]', re.IGNORECASE| re.VERBOSE|re.DOTALL)
            keyword = keyword
            cell_value = str(theFile[sheetname][cell_name].value)
            keywordLike = cellkeywords_regex.findall(cell_value)
            newpumpLike = ''.join(keywordLike)
            if keyword in newpumpLike:
                print("{} : {}".format(date_activity, theFile[sheetname][cell_name].value))
            
def find_IN_xlsx_files(filepathfolder):
    #filepath is the folder where we will do the search. example r'D:\Data Science Training\spreadsheets'
    #keywordtoFind is the string regex pattern of the word we want to find
    for root, dirs, files in os.walk(filepathfolder): #input the folder filepath here
        for filename in files:
            if filename.endswith('.xlsx') or filename.endswith('.xlsm'): #if statement checking if the file type is excel
                #print (os.path.join(root, filename))
                theFile = openpyxl.load_workbook(os.path.join(root, filename), read_only=True)
                df.append(dfsListmonthly[i], ignore_index=True)
                
#used in the analysis results data. cleans up the sampling time entry
#------------------------------------------------------------function convert df to numeric--------------------------------------------
#This function converts the df to numeric. Returns nothing. Just executes the script
def convert_to_numeric(df):
    for i in df.columns:
        try:
            df[i] = pd.to_numeric(df[i], errors='coerce')
        except:
            print(i, " has error.")
#            
#--------------------------------------------------------------End-----------------------------------------------------------------------

#### Code for loading the excel files with common starting titles for ZnNi_Proj_DataGather_Mont[h]ly for NTRL,  and 106TK01

In [14]:
columns_104_106 = ['DATETIME','104_Pb', '104_Zn', '104_Cu', '104_Ni', '104_Co', '104_Fe','104_Mn','104_Cr','104_Ca','104_Si','104_Al','104_Mg',
 '104_Fe2','104_pH60','104_ORP','104_NTU','104_Ft','106_Ni', '106_Zn']
len(columns_104_106)

20

In [6]:
blank_data_2 = {'DATETIME': np.nan, '104_Pb': np.nan, '104_Zn': np.nan, '104_Cu': np.nan, '104_Ni': np.nan, '104_Co': np.nan, '104_Fe': np.nan,
       '104_Mn': np.nan, '104_Cr': np.nan, '104_Ca': np.nan, '104_Si': np.nan, '104_Al': np.nan, '104_Mg': np.nan, '104_Fe2': np.nan,
       '104_pH60': np.nan, '104_ORP': np.nan, '104_NTU': np.nan, '104_Ft': np.nan, '106_Ni': np.nan, '106_Zn': np.nan}
len(blank_data_2)

20

In [15]:

df_ZnNi_project_2017_2020 = pd.DataFrame (blank_data_2, columns = columns_104_106)

print (df_ZnNi_project_2017_2020)
filepath_mydocs = r'C:\Users\v.t.flores\Documents'
df_length = 0
for root, dirs, files in os.walk(filepath_mydocs): #input the folder filepath here
        for filename in files:
            if filename.startswith('ZnNi_Ratio_Proj_DataGather_Montly_'): #if statement that checks if the file starts with ZnDrop_Proj_DataGather_Montly
                #print (os.path.join(root, filename))
                theFile = pd.read_excel(os.path.join(root, filename)) 
                #os.path.join(root, filename) means the complete path to the file including the excel file
                #-------------------------------------------------allSheetNames = theFile.sheetnames
                print(filename)
                df_length += 1
                print(df_length)
                df_ZnNi_project_2017_2020 = df_ZnNi_project_2017_2020.append(theFile[columns_104_106], sort=True)
                #print(theFile)

df_ZnNi_project_2017_2020 = df_ZnNi_project_2017_2020.set_index('DATETIME')
#arrange the column orders to be closer to the order in the laboratory analysis results
columnsOrdered = ['DATETIME','104_Pb', '104_Zn', '104_Cu', '104_Ni', '104_Co', '104_Fe','104_Mn','104_Cr','104_Ca','104_Si','104_Al','104_Mg',
 '104_Fe2','104_pH60','104_ORP','104_NTU','104_Ft','106_Ni', '106_Zn']

df_ZnNi_project_2017_2020 = df_ZnNi_project_2017_2020[columnsOrdered]
df_ZnNi_project_2017_2020.to_excel(r'C:\Users\v.t.flores\Documents\ZnNi_project_2015_2020_dataset.xlsx')

Empty DataFrame
Columns: [DATETIME, 104_Pb, 104_Zn, 104_Cu, 104_Ni, 104_Co, 104_Fe, 104_Mn, 104_Cr, 104_Ca, 104_Si, 104_Al, 104_Mg, 104_Fe2, 104_pH60, 104_ORP, 104_NTU, 104_Ft, 106_Ni, 106_Zn]
Index: []
ZnNi_Ratio_Proj_DataGather_Montly_2014-01-01.xlsx
1
ZnNi_Ratio_Proj_DataGather_Montly_2014-02-01.xlsx
2
ZnNi_Ratio_Proj_DataGather_Montly_2014-03-01.xlsx
3
ZnNi_Ratio_Proj_DataGather_Montly_2014-04-01.xlsx
4
ZnNi_Ratio_Proj_DataGather_Montly_2014-05-01.xlsx
5
ZnNi_Ratio_Proj_DataGather_Montly_2014-06-01.xlsx
6
ZnNi_Ratio_Proj_DataGather_Montly_2014-07-01.xlsx
7
ZnNi_Ratio_Proj_DataGather_Montly_2014-08-01.xlsx
8
ZnNi_Ratio_Proj_DataGather_Montly_2014-09-01.xlsx
9
ZnNi_Ratio_Proj_DataGather_Montly_2014-10-01.xlsx
10
ZnNi_Ratio_Proj_DataGather_Montly_2014-11-01.xlsx
11
ZnNi_Ratio_Proj_DataGather_Montly_2014-12-01.xlsx
12
ZnNi_Ratio_Proj_DataGather_Montly_2015-01-01.xlsx
13
ZnNi_Ratio_Proj_DataGather_Montly_2015-02-01.xlsx
14
ZnNi_Ratio_Proj_DataGather_Montly_2015-03-01.xlsx
15
ZnNi_Ratio_Proj_DataGather_Montly_2015-04-01.xlsx
16
ZnNi_Ratio_Proj_DataGather_Montly_2015-05-01.xlsx
17
ZnNi_Ratio_Proj_DataGather_Montly_2015-06-01.xlsx
18
ZnNi_Ratio_Proj_DataGather_Montly_2015-07-01.xlsx
19
ZnNi_Ratio_Proj_DataGather_Montly_2015-08-01.xlsx
20
ZnNi_Ratio_Proj_DataGather_Montly_2015-09-01.xlsx
21
ZnNi_Ratio_Proj_DataGather_Montly_2015-10-01.xlsx
22
ZnNi_Ratio_Proj_DataGather_Montly_2015-11-01.xlsx
23
ZnNi_Ratio_Proj_DataGather_Montly_2015-12-01.xlsx
24
ZnNi_Ratio_Proj_DataGather_Montly_2016-01-01.xlsx
25
ZnNi_Ratio_Proj_DataGather_Montly_2016-02-01.xlsx
26
ZnNi_Ratio_Proj_DataGather_Montly_2016-03-01.xlsx
27
ZnNi_Ratio_Proj_DataGather_Montly_2016-04-01.xlsx
28
ZnNi_Ratio_Proj_DataGather_Montly_2016-05-01.xlsx
29
ZnNi_Ratio_Proj_DataGather_Montly_2016-06-01.xlsx
30
ZnNi_Ratio_Proj_DataGather_Montly_2016-07-01.xlsx
31
ZnNi_Ratio_Proj_DataGather_Montly_2016-08-01.xlsx
32
ZnNi_Ratio_Proj_DataGather_Montly_2016-09-01.xlsx
33
ZnNi_Ratio_Proj_DataGather_Montly_2016-10-01.xlsx
34
ZnNi_Ratio_Proj_DataGather_Montly_2016-11-01.xlsx
35
ZnNi_Ratio_Proj_DataGather_Montly_2016-12-01.xlsx
36
ZnNi_Ratio_Proj_DataGather_Montly_2017-01-01.xlsx
37
ZnNi_Ratio_Proj_DataGather_Montly_2017-02-01.xlsx
38
ZnNi_Ratio_Proj_DataGather_Montly_2017-03-01.xlsx
39
ZnNi_Ratio_Proj_DataGather_Montly_2017-04-01.xlsx
40
ZnNi_Ratio_Proj_DataGather_Montly_2017-05-01.xlsx
41
ZnNi_Ratio_Proj_DataGather_Montly_2017-06-01.xlsx
42
ZnNi_Ratio_Proj_DataGather_Montly_2017-07-01.xlsx
43
ZnNi_Ratio_Proj_DataGather_Montly_2017-08-01.xlsx
44
ZnNi_Ratio_Proj_DataGather_Montly_2017-09-01.xlsx
45
ZnNi_Ratio_Proj_DataGather_Montly_2017-10-01.xlsx
46
ZnNi_Ratio_Proj_DataGather_Montly_2017-11-01.xlsx
47
ZnNi_Ratio_Proj_DataGather_Montly_2017-12-01.xlsx
48
ZnNi_Ratio_Proj_DataGather_Montly_2018-01-01.xlsx
49
ZnNi_Ratio_Proj_DataGather_Montly_2018-02-01.xlsx
50
ZnNi_Ratio_Proj_DataGather_Montly_2018-03-01.xlsx
51
ZnNi_Ratio_Proj_DataGather_Montly_2018-04-01.xlsx
52
ZnNi_Ratio_Proj_DataGather_Montly_2018-05-01.xlsx
53
ZnNi_Ratio_Proj_DataGather_Montly_2018-06-01.xlsx
54
ZnNi_Ratio_Proj_DataGather_Montly_2018-07-01.xlsx
55
ZnNi_Ratio_Proj_DataGather_Montly_2018-08-01.xlsx
56
ZnNi_Ratio_Proj_DataGather_Montly_2018-09-01.xlsx
57
ZnNi_Ratio_Proj_DataGather_Montly_2018-10-01.xlsx
58
ZnNi_Ratio_Proj_DataGather_Montly_2018-11-01.xlsx
59
ZnNi_Ratio_Proj_DataGather_Montly_2018-12-01.xlsx
60
ZnNi_Ratio_Proj_DataGather_Montly_2019-01-01.xlsx
61
ZnNi_Ratio_Proj_DataGather_Montly_2019-02-01.xlsx
62
ZnNi_Ratio_Proj_DataGather_Montly_2019-03-01.xlsx
63
ZnNi_Ratio_Proj_DataGather_Montly_2019-04-01.xlsx
64
ZnNi_Ratio_Proj_DataGather_Montly_2019-05-01.xlsx
65
ZnNi_Ratio_Proj_DataGather_Montly_2019-06-01.xlsx
66
ZnNi_Ratio_Proj_DataGather_Montly_2019-07-01.xlsx
67
ZnNi_Ratio_Proj_DataGather_Montly_2019-08-01.xlsx
68
ZnNi_Ratio_Proj_DataGather_Montly_2019-09-01.xlsx
69
ZnNi_Ratio_Proj_DataGather_Montly_2019-10-01.xlsx
70
ZnNi_Ratio_Proj_DataGather_Montly_2019-11-01.xlsx
71
ZnNi_Ratio_Proj_DataGather_Montly_2019-12-01.xlsx
72
ZnNi_Ratio_Proj_DataGather_Montly_2020-01-01.xlsx
73
ZnNi_Ratio_Proj_DataGather_Montly_2020-02-01.xlsx
74
ZnNi_Ratio_Proj_DataGather_Montly_2020-03-01.xlsx
75
ZnNi_Ratio_Proj_DataGather_Montly_2020-04-01.xlsx
76
ZnNi_Ratio_Proj_DataGather_Montly_2020-05-01.xlsx
77
ZnNi_Ratio_Proj_DataGather_Montly_2020-06-01.xlsx
78
ZnNi_Ratio_Proj_DataGather_Montly_2020-07-01.xlsx
79
ZnNi_Ratio_Proj_DataGather_Montly_2020-08-01.xlsx
80

KeyError: "['DATETIME'] not in index"

#### Code for loading the excel files with common starting titles for ZnNi_Proj_DataGather_Mont[h]ly for 105TK05

In [19]:
blank_data_tk05 = {'DATETIME': np.nan, 'tk05_Pb': np.nan, 'tk05_Zn': np.nan, 'tk05_Cu': np.nan, 'tk05_Ni': np.nan, 'tk05_Co': np.nan, 'tk05_Fe': np.nan,
       'tk05_Mn': np.nan, 'tk05_Cr': np.nan, 'tk05_Ca': np.nan, 'tk05_Si': np.nan, 'tk05_Al': np.nan, 'tk05_Mg': np.nan}

columnNames_tk05 = ['DATETIME','tk05_Pb', 'tk05_Zn', 'tk05_Cu', 'tk05_Ni', 'tk05_Co',
       'tk05_Fe', 'tk05_Mn', 'tk05_Cr', 'tk05_Ca', 'tk05_Si', 'tk05_Al',
       'tk05_Mg']

print(len(blank_data_tk05))
print(len(columnNames_tk05))

13
13

In [20]:
blank_data_tk05 = {'DATETIME': np.nan, 'tk05_Pb': np.nan, 'tk05_Zn': np.nan, 'tk05_Cu': np.nan, 'tk05_Ni': np.nan, 'tk05_Co': np.nan, 'tk05_Fe': np.nan,
       'tk05_Mn': np.nan, 'tk05_Cr': np.nan, 'tk05_Ca': np.nan, 'tk05_Si': np.nan, 'tk05_Al': np.nan, 'tk05_Mg': np.nan}

columnNames_tk05 = ['DATETIME','tk05_Pb', 'tk05_Zn', 'tk05_Cu', 'tk05_Ni', 'tk05_Co',
       'tk05_Fe', 'tk05_Mn', 'tk05_Cr', 'tk05_Ca', 'tk05_Si', 'tk05_Al',
       'tk05_Mg']

df_ZnNi_project_105TK05_2015_2020 = pd.DataFrame (blank_data_tk05, columns = columnNames_tk05)

print (df_ZnNi_project_105TK05_2015_2020)
filepath_mydocs = r'C:\Users\v.t.flores\Documents'
df_length = 0
for root, dirs, files in os.walk(filepath_mydocs): #input the folder filepath here
        for filename in files:
            if filename.startswith('ZnNi_Ratio_Proj_tk05_DataGather_Montly_'): #if statement that checks if the file starts with ZnDrop_Proj_DataGather_Montly
                #print (os.path.join(root, filename))
                theFile_tk05 = pd.read_excel(os.path.join(root, filename)) 
                #os.path.join(root, filename) means the complete path to the file including the excel file
                #-------------------------------------------------allSheetNames = theFile.sheetnames
                print(filename)
                df_length += 1
                print(df_length)
                df_ZnNi_project_105TK05_2015_2020 = df_ZnNi_project_105TK05_2015_2020.append(theFile_tk05[columnNames_tk05], sort=True)
                #print(theFile)

df_ZnNi_project_105TK05_2015_2020 = df_ZnNi_project_105TK05_2015_2020.set_index('DATETIME')

df_ZnNi_project_105TK05_2015_2020.to_excel(r'C:\Users\v.t.flores\Documents\df_ZnNi_project_105TK05_2015_2020.xlsx')

# join the 105TK05 data with the ntrl and 106TK01. data
df_ntrl_tk05_mstk01 = df_ZnNi_project_2017_2020.join(df_ZnNi_project_105TK05_2015_2020, how='outer')

Empty DataFrame
Columns: [DATETIME, tk05_Pb, tk05_Zn, tk05_Cu, tk05_Ni, tk05_Co, tk05_Fe, tk05_Mn, tk05_Cr, tk05_Ca, tk05_Si, tk05_Al, tk05_Mg]
Index: []
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2014-01-01.xlsx
1
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2014-02-01.xlsx
2
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2014-03-01.xlsx
3
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2014-04-01.xlsx
4
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2014-05-01.xlsx
5
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2014-06-01.xlsx
6
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2014-07-01.xlsx
7
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2014-08-01.xlsx
8
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2014-09-01.xlsx
9
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2014-10-01.xlsx
10
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2014-11-01.xlsx
11
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2014-12-01.xlsx
12
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2015-01-01.xlsx
13
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2015-02-01.xlsx
14
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2015-03-01.xlsx
15
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2015-04-01.xlsx
16
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2015-05-01.xlsx
17
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2015-06-01.xlsx
18
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2015-07-01.xlsx
19
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2015-08-01.xlsx
20
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2015-09-01.xlsx
21
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2015-10-01.xlsx
22
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2015-11-01.xlsx
23
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2015-12-01.xlsx
24
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2016-01-01.xlsx
25
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2016-02-01.xlsx
26
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2016-03-01.xlsx
27
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2016-04-01.xlsx
28
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2016-05-01.xlsx
29
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2016-06-01.xlsx
30
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2016-07-01.xlsx
31
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2016-08-01.xlsx
32
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2016-09-01.xlsx
33
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2016-10-01.xlsx
34
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2016-11-01.xlsx
35
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2016-12-01.xlsx
36
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2017-01-01.xlsx
37
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2017-02-01.xlsx
38
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2017-03-01.xlsx
39
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2017-04-01.xlsx
40
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2017-05-01.xlsx
41
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2017-06-01.xlsx
42
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2017-07-01.xlsx
43
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2017-08-01.xlsx
44
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2017-09-01.xlsx
45
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2017-10-01.xlsx
46
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2017-11-01.xlsx
47
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2017-12-01.xlsx
48
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2018-01-01.xlsx
49
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2018-02-01.xlsx
50
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2018-03-01.xlsx
51
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2018-04-01.xlsx
52
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2018-05-01.xlsx
53
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2018-06-01.xlsx
54
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2018-07-01.xlsx
55
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2018-08-01.xlsx
56
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2018-09-01.xlsx
57
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2018-10-01.xlsx
58
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2018-11-01.xlsx
59
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2018-12-01.xlsx
60
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2019-01-01.xlsx
61
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2019-02-01.xlsx
62
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2019-03-01.xlsx
63
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2019-04-01.xlsx
64
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2019-05-01.xlsx
65
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2019-06-01.xlsx
66
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2019-07-01.xlsx
67
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2019-08-01.xlsx
68
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2019-09-01.xlsx
69
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2019-10-01.xlsx
70
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2019-11-01.xlsx
71
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2019-12-01.xlsx
72
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2020-01-01.xlsx
73
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2020-02-01.xlsx
74
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2020-03-01.xlsx
75
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2020-04-01.xlsx
76
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2020-05-01.xlsx
77
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2020-06-01.xlsx
78
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2020-07-01.xlsx
79
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2020-08-01.xlsx
80
ZnNi_Ratio_Proj_tk05_DataGather_Montly_2020-09-01.xlsx
81

In [27]:
df_ntrl_tk05_mstk01.columns

Index(['104_Al', '104_Ca', '104_Co', '104_Cr', '104_Cu', '104_Fe', '104_Fe2',
       '104_Ft', '104_Mg', '104_Mn', '104_NTU', '104_Ni', '104_ORP', '104_Pb',
       '104_Si', '104_Zn', '104_pH60', '106_Ni', '106_Zn', 'tk05_Al',
       'tk05_Ca', 'tk05_Co', 'tk05_Cr', 'tk05_Cu', 'tk05_Fe', 'tk05_Mg',
       'tk05_Mn', 'tk05_Ni', 'tk05_Pb', 'tk05_Si', 'tk05_Zn'],
      dtype='object')

In [38]:
#Load the Pi data for ZnDrop Project
df_PI_zndrop_proj = pd.read_excel(r'C:\Users\v.t.flores\Documents\Pi_Dezn2015_2020_values_ZnNi_proj.xlsx')
df_PI_zndrop_proj_1 = df_PI_zndrop_proj.drop(df_PI_zndrop_proj.index[0], axis=0)
df_PI_zndrop_proj_2 = df_PI_zndrop_proj_1.set_index('DATETIME')

#Convert each column to numeric to handle nan values and other comments like 'No data...'. Convering to numeric
#------ converts them into a NaN value that pandas understands.
for i in df_PI_zndrop_proj_2.columns:
    df_PI_zndrop_proj_2[i] = pd.to_numeric(df_PI_zndrop_proj_2[i], errors='coerce')
    
#Creating a column for the correct H2S flowrate
df_PI_zndrop_proj_2['H2S_tk01'] = np.where(df_PI_zndrop_proj_2['H2S_FT_TK01_A']>df_PI_zndrop_proj_2['H2S_FT_TK01_B'],\
                                    df_PI_zndrop_proj_2['H2S_FT_TK01_A'], df_PI_zndrop_proj_2['H2S_FT_TK01_B'])

df_PI_zndrop_proj_2['H2S_tk02'] = np.where(df_PI_zndrop_proj_2['H2S_FT_TK02_A']>df_PI_zndrop_proj_2['H2S_FT_TK02_B'],\
                                    df_PI_zndrop_proj_2['H2S_FT_TK02_A'], df_PI_zndrop_proj_2['H2S_FT_TK02_B'])

In [39]:
df_PI_zndrop_proj_2

,DeZn_Feed_Flow,DeZn_Feed_T,H2S_FT_TK01_A,H2S_FT_TK01_B,H2S_FT_TK02_A,H2S_FT_TK02_B,DeZn_Seed_Flow,DeZn_TK05_T,H2S_tk01,H2S_tk02
DATETIME,,,,,,,,,,
2015-09-24 10:00:00,1350.118843,66.004800,140.220920,2.010600,-0.007800,11.594400,0.249903,65.397601,140.220920,11.594400
2015-09-24 11:00:00,1349.383059,66.001249,133.704750,1.938000,-0.009300,11.593300,0.255544,65.394668,133.704750,11.593300
2015-09-24 12:00:00,1349.053269,65.989752,138.656250,1.929750,-0.008400,11.568000,0.248798,65.394001,138.656250,11.568000
2015-09-24 13:00:00,1300.736873,66.014750,126.585000,1.926000,-0.008900,11.549200,0.254999,65.390668,126.585000,11.549200
2015-09-24 14:00:00,1269.321389,66.017946,123.349018,1.901250,-0.006643,11.547000,0.248672,65.383573,123.349018,11.547000
...,...,...,...,...,...,...,...,...,...,...
2020-08-30 19:00:00,1496.054301,66.886251,39.289000,0.012167,1.273500,91.761749,7.667498,72.071997,39.289000,91.761749
2020-08-30 20:00:00,1496.144792,66.835249,41.445500,0.010667,0.576750,97.389750,2.054622,72.138501,41.445500,97.389750
2020-08-30 21:00:00,1495.306915,66.830248,42.097833,0.013000,0.758250,98.151749,1.916338,72.186250,42.097833,98.151749
2020-08-30 22:00:00,1495.019169,66.885001,41.158167,0.012833,0.832500,97.348500,1.923461,72.178250,41.158167,97.348500
2020-08-30 23:00:00,1494.889376,66.959249,38.084167,0.011333,0.416250,88.933500,2.108176,72.239748,38.084167,88.933500

In [40]:
# DF_NTRL_TK05_MSTK01 => is the combined data of NTRL, TK05, 106TK01 and the PI data on dezn flowrate, temperature and H2S flowrate

DF_NTRL_TK05_MSTK01 = df_ntrl_tk05_mstk01.join(df_PI_zndrop_proj_2, how='outer')

In [41]:


#convert the df to numeric
for i in DF_NTRL_TK05_MSTK01.columns:
    DF_NTRL_TK05_MSTK01[i] = pd.to_numeric(DF_NTRL_TK05_MSTK01[i], errors='coerce')

In [43]:
#testing. use the interpolate to fill the missing values. then adjust for the retention time
DF_NTRL_TK05_MSTK01.iloc[100]

104_Al               NaN
104_Ca               NaN
104_Co               NaN
104_Cr               NaN
104_Cu               NaN
104_Fe               NaN
104_Fe2              NaN
104_Ft             41.00
104_Mg               NaN
104_Mn               NaN
104_NTU           351.00
104_Ni               NaN
104_ORP           378.90
104_Pb               NaN
104_Si               NaN
104_Zn               NaN
104_pH60            2.72
106_Ni               NaN
106_Zn               NaN
tk05_Al              NaN
tk05_Ca              NaN
tk05_Co              NaN
tk05_Cr              NaN
tk05_Cu              NaN
tk05_Fe              NaN
tk05_Mg              NaN
tk05_Mn              NaN
tk05_Ni              NaN
tk05_Pb              NaN
tk05_Si              NaN
tk05_Zn              NaN
DeZn_Feed_Flow       NaN
DeZn_Feed_T          NaN
H2S_FT_TK01_A        NaN
H2S_FT_TK01_B        NaN
H2S_FT_TK02_A        NaN
H2S_FT_TK02_B        NaN
DeZn_Seed_Flow       NaN
DeZn_TK05_T          NaN
H2S_tk01             NaN
H2S_tk02             NaN
Name: 2014-01-04 02:00:00, dtype: float64

In [44]:

DF_NTRL_TK05_MSTK01_intrpltd = DF_NTRL_TK05_MSTK01.interpolate(method='linear', limit_direction='forward', axis=0)

In [45]:

DF_NTRL_TK05_MSTK01_intrpltd.to_excel(r'C:\Users\v.t.flores\Documents\df_ZnNi_project_105TK05_2015_2020_PIdata.xlsx')

#this project is continued in ZnDrop_Project_RidgeReg.ipynb file

In [51]:
DF_NTRL_TK05_MSTK01_intrpltd.loc['2015-9-24 9:00:00':'2015-10-04 00:00:00']

,104_Al,104_Ca,104_Co,104_Cr,104_Cu,104_Fe,104_Fe2,104_Ft,104_Mg,104_Mn,...,DeZn_Feed_Flow,DeZn_Feed_T,H2S_FT_TK01_A,H2S_FT_TK01_B,H2S_FT_TK02_A,H2S_FT_TK02_B,DeZn_Seed_Flow,DeZn_TK05_T,H2S_tk01,H2S_tk02
DATETIME,,,,,,,,,,,,,,,,,,,,,
2015-09-24 09:00:00,4.42150,0.67730,0.393950,0.112450,0.022850,0.663400,0.52950,10.0,4.32250,3.45950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-09-24 10:00:00,4.43275,0.68500,0.391375,0.113325,0.022425,0.677950,0.52775,9.0,4.33625,3.48675,...,1350.118843,66.004800,140.22092,2.010600,-0.0078,11.5944,0.249903,65.397601,140.220920,11.5944
2015-09-24 11:00:00,4.44400,0.69270,0.388800,0.114200,0.022000,0.692500,0.52600,10.0,4.35000,3.51400,...,1349.383059,66.001249,133.70475,1.938000,-0.0093,11.5933,0.255544,65.394668,133.704750,11.5933
2015-09-24 12:00:00,4.42650,0.68720,0.385575,0.114675,0.021850,0.691175,0.53850,9.0,4.34925,3.49900,...,1349.053269,65.989752,138.65625,1.929750,-0.0084,11.5680,0.248798,65.394001,138.656250,11.5680
2015-09-24 13:00:00,4.40900,0.68170,0.382350,0.115150,0.021700,0.689850,0.55100,10.0,4.34850,3.48400,...,1300.736873,66.014750,126.58500,1.926000,-0.0089,11.5492,0.254999,65.390668,126.585000,11.5492
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-10-03 20:00:00,4.57825,0.67175,0.338725,0.127250,0.021550,1.266500,1.04675,10.0,4.06075,3.73100,...,1083.003394,66.281499,0.85650,136.649249,-0.0061,10.8654,4.939554,65.686000,136.649249,10.8654
2015-10-03 21:00:00,4.63850,0.67130,0.339650,0.128500,0.021800,1.232000,1.01450,9.0,4.03750,3.75100,...,1029.027938,66.420752,0.85200,128.021248,-0.0051,10.8033,10.137032,65.678000,128.021248,10.8033
2015-10-03 22:00:00,4.69875,0.67085,0.340575,0.129750,0.022050,1.197500,0.98225,9.0,4.01425,3.77100,...,999.934568,66.386498,0.82500,123.299250,-0.0061,10.7356,12.971255,65.698001,123.299250,10.7356
2015-10-03 23:00:00,4.75900,0.67040,0.341500,0.131000,0.022300,1.163000,0.95000,9.0,3.99100,3.79100,...,955.821286,66.438250,0.61350,108.999000,-0.0057,10.7040,11.510001,65.657333,108.999000,10.7040
2015-10-04 00:00:00,4.63200,0.66990,0.342925,0.127100,0.022250,1.186500,0.96675,10.0,4.07400,3.77100,...,949.843900,66.504499,0.70725,106.332750,-0.0058,10.5745,14.297184,65.699334,106.332750,10.5745